:root {
    --text-header: #344767;
    --text-sub-header: #67748e;
    --text-normal: #67748e;
    --box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
    --border-radius: 1rem;
    --border-color: rgba(0, 0, 0, 0.125);
    --hover-from-dark: rgb(92, 94, 110);
    --blue-gradient: linear-gradient(90deg, rgba(58, 65, 110, 1) 0%, rgba(21, 24, 41, 1) 100%);
    --pink-gradient: linear-gradient(90deg, rgba(253, 1, 130, 1) 0%, rgba(131, 37, 196, 1) 100%);
    --red-gradient: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
    --light-red-gradient: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
}

body {
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco",
        "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    scroll-behavior: smooth;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.dummy {
    height: 70px;
    width: 100%;
    clear: both;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #67748e;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(43, 41, 41);
}

.alert-container {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 999999;
}

.error-container {
    height: 80vh;

    .error-title {
        font-size: 190px;
        font-weight: bold;
        margin-bottom: 1rem;
        animation: pulse 2s infinite;
    }

    .error-text {
        font-size: 1.125rem;
    }

    .animate-blink {
        animation: blink 1s infinite;
    }
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.breadcrumb {
    color: var(--text-sub-header);

    border: 1px solid #cbd2d9;
    border-radius: 0.3rem;
    display: inline-flex;
    overflow: hidden;

    .breadcrumbs-item {
        background: #fff;
        color: #333;
        outline: none;
        padding: 0.3em 0.3em 0.3em 0.8em;
        position: relative;
        text-decoration: none;
        transition: background 0.2s linear;
    }

    .breadcrumbs-item:hover:after,
    .breadcrumbs-item:hover {
        background: #edf1f5;
    }

    .breadcrumbs-item:focus:after,
    .breadcrumbs-item:focus,
    .breadcrumbs-item.is-active:focus {
        background: #323f4a;
        color: #fff;
    }

    .breadcrumbs-item:after,
    .breadcrumbs-item:before {
        background: white;
        bottom: 0;
        clip-path: polygon(50% 50%, -50% -50%, 0 100%);
        content: "";
        left: 100%;
        position: absolute;
        top: 0;
        transition: background 0.2s linear;
        width: 1em;
        z-index: 1;
    }

    .breadcrumbs-item:before {
        background: #cbd2d9;
        margin-left: 1px;
    }

    .breadcrumbs-item:last-child {
        border-right: none;
    }

    .breadcrumbs-item.is-active {
        background: #edf1f5;
    }
}

.header-section {
    font-weight: 500;

    .navbar-brand {
        font-size: 27px;
    }

    .cart {
        position: relative;
        display: block;
        width: 28px;
        height: 28px;
        height: auto;

        .material-icons {
            position: relative;
            top: -7px;
            z-index: 1;
            font-size: 24px;
            color: var(--text-header);
        }

        .count {
            position: absolute;
            top: -7px;
            right: -3px;
            z-index: 2;
            font-size: 11px;
            border-radius: 50%;
            background: var(--pink-gradient);
            width: 16px;
            height: 16px;
            line-height: 16px;
            display: block;
            text-align: center;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
        }
    }

    .search-mobile {
        display: none;

        form {
            padding: 0;
            margin: 0;
            width: 300px;
        }
    }

    @media (max-width: 991px) {
        .search-top {
            display: none;
        }

        .search-mobile {
            display: block;
        }
    }

    .dropdown-menu-center {
        border: none;
        right: auto;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        width: 300px !important;
    }

    @media (max-width: 576px) {
        .dropdown-menu-center {
            width: 200px !important;
        }
    }

    input.form-control:hover {
        border-color: var(--hover-from-dark) !important;
        color: var(--hover-from-dark) !important;
    }

    button:hover {
        border-color: var(--hover-from-dark) !important;
        color: var(--hover-from-dark) !important;
    }

    a:hover {
        border-color: var(--hover-from-dark) !important;
        color: var(--hover-from-dark) !important;
    }

    .navbar-scrolled {
        background-color: #f8f9fa;
        --bs-bg-opacity: .99 !important;
        box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    }

    .user-menu-btn {
        background: var(--blue-gradient);
        border: none;
        transition: all 0.25s;
    }

    .user-menu-btn:hover {
        background: var(--pink-gradient);
    }

    .search-btn {
        transition: 0.25s ease-in-out;
    }

    .search-btn:hover {
        background: var(--blue-gradient);
        color: white !important;
        border: none;
    }
}

.about-page {
    height: 100vh;
}

.hero {
    width: 100%;
    background-size: cover;

    h1 {
        font-size: 48px;
        font-weight: 500;
        color: var(--text-header);
    }

    h2 {
        color: var(--text-normal);
        margin: 15px 0 0 0;
        font-size: 26px;
    }

    .btn-start-buying {
        margin-top: 30px;
        line-height: 0;
        padding: 15px 40px;
        transition: all 0.5s;
        color: white;
        background: rgba(58, 65, 110, 1);
        box-shadow: 0px 5px 30px rgba(21, 24, 41, 1);
        text-decoration: none;
    }

    .btn-start-buying span {
        font-family: "Nunito", sans-serif;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 1px;
    }

    .btn-start-buying i {
        margin-left: 5px;
        font-size: 18px;
        transition: 0.25s;
    }

    .btn-start-buying:hover i {
        transform: translateX(5px);
    }

    .hero-img {
        text-align: right;
    }

    @media (min-width: 1024px) {
        background-attachment: fixed;
    }

    @media (max-width: 991px) {
        height: auto;
        padding: 120px 0 60px 0;
        text-align: center;

        .hero-img {
            text-align: center;
            margin-top: 80px;
        }

        .hero-img img {
            width: 80%;
        }
    }

    @media (max-width: 768px) {
        text-align: center;

        h1 {
            font-size: 32px;
        }

        h2 {
            font-size: 24px;
        }

        .hero-img img {
            width: 100%;
        }
    }

    .categories-section {
        margin-top: 10px;
        display: flex;
        justify-content: center;

        .card {
            width: 90%;

            .card-img {
                height: 10vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            img {
                max-height: 100%;
                max-width: 100%;
                object-fit: contain;
            }

            .card-body {
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        }
    }

    .view-more-btn {
        line-height: 0;
        padding: 20px 40px;
        transition: all 0.5s;
        color: white;
        background: rgba(58, 65, 110, 1);
        border-color: rgba(58, 65, 110, 1);
        box-shadow: 0px 5px 30px rgba(21, 24, 41, 1);
        text-decoration: none;
    }

    .view-more-btn span {
        font-family: "Nunito", sans-serif;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 1px;
    }

    .view-more-btn:hover {
        transform: scale(1.05);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .card {
        box-sizing: border-box;
        border: 1px solid #ccc;
        transition: transform 0.25s ease;
        text-decoration: none;
    }

    .card:hover {
        transform: translateY(-5px) scale(1.01);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    @media (min-width: 1400px) {
        .hero-section {
            margin-top: 25px !important;
        }

        .category-section {
            margin-top: 75px !important;
        }

        .view-more-section {
            margin-top: 75px !important;
        }
    }

    @media (max-width: 768px) {
        .hero-section {
            margin-top: 0 !important;
        }


    }
}

.home-products {
    .card {
        width: 80%;
    }

    a {
        text-decoration: none;
    }

    .pd-img {
        height: 22.5vh;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            padding: 10px;
            max-height: 100%;
            max-width: 100%;
        }
    }

    .pd-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .pd-name {
        color: var(--text-normal);
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 16px;
        line-height: 1.2;
        min-height: calc(2 * 16px * 1.3);
        text-overflow: ellipsis;
    }

    .pd-price {
        color: var(--text-header);
        font-size: large;
    }

    .view-more-btn {
        line-height: 0;
        padding: 20px 40px;
        transition: all 0.5s;
        color: white;
        background: rgba(58, 65, 110, 1);
        border-color: rgba(58, 65, 110, 1);
        box-shadow: 0px 5px 30px rgba(21, 24, 41, 1);
        text-decoration: none;
    }

    .view-more-btn span {
        font-family: "Nunito", sans-serif;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 1px;
    }

    .view-more-btn:hover {
        transform: scale(1.05);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}

.auth-page {
    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }

    @media (max-width: 991px) {
        .search-top {
            display: none;
        }

        .search-mobile {
            display: block;
        }
    }

    .dropdown-menu-center {
        border: none;
        right: auto;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    .slides-container {
        width: 100%;
        height: 100vh;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        overflow: auto;
    }

    .slides {
        width: 100%;
        height: 100vh;
        scroll-snap-align: start;
    }

    .footer-row {
        height: 100%;
    }

    .heading {
        font-weight: bold;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(135deg, rgba(253, 1, 130, 1), rgba(131, 37, 196, 1))
    }

    .auth-nav {
        backdrop-filter: saturate(200%) blur(30px);
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 1;
        font-weight: 500;

        .navbar-brand {
            font-size: 24px;
        }

        .search-mobile {
            display: none;

            form {
                padding: 0;
                margin: 0;
                width: 300px;
            }
        }
    }

    .auth-coll {
        margin: 10px;
    }

    .nav .active {
        background-image: linear-gradient(310deg,
                #141727 0%,
                #3a416f 100%) !important;
    }

    .oblique-r {
        overflow: hidden;
        transform-origin: bottom;
        -ms-transform: skew(-10deg, 0deg);
        -webkit-transform: skew(-10deg, 0deg);
        transform: skew(-10deg, 0deg);
        z-index: -1;
    }

    .oblique-l {
        overflow: hidden;
        transform-origin: bottom;
        -ms-transform: skew(10deg, 0deg);
        -webkit-transform: skew(10deg, 0deg);
        transform: skew(10deg, 0deg);
        z-index: -1;
    }

    .oblique-img {
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }

    .caution,
    .spinner {
        display: none;
    }

    .anm-btn {
        background: var(--blue-gradient);
        border: none;
        transition: all 0.25s;
    }

    .anm-btn:hover {
        background: var(--pink-gradient);
    }

    .anm-btn span {
        cursor: pointer;
        position: relative;
        transition: 0.5s;
    }

    .anm-btn:hover span:after {
        opacity: 1;
        right: 0;
    }

    .anm-btn:hover span {
        padding-right: 20px;
    }

    .anm-btn span:after {
        position: absolute;
        opacity: 0;
        right: -20px;
        bottom: -4px;
        transition: 0.5s;
        font-family: "bootstrap-icons";
        content: "\F231";
    }

    @media (max-width: 768px) {
        .slides {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .row {
            width: 100%;
        }
    }

    input.form-control:hover {
        border-color: var(--hover-from-dark) !important;
        color: var(--hover-from-dark) !important;
    }

    button:hover {
        border-color: var(--hover-from-dark) !important;
        color: var(--hover-from-dark) !important;
    }

    a:hover {
        border-color: var(--hover-from-dark) !important;
        color: var(--hover-from-dark) !important;
    }

    a.active:hover {
        background-color: var(--hover-from-dark) !important;
    }
}

.product-container,
.related-products,
.vendor-container,
.add-pd-page {
    background-color: white;

    .pd-quantity-input {
        .btn-number {
            border: 1px solid rgba(21, 24, 41, 1) !important;
        }
    }

    .quantity-text {
        font-size: 20px;
    }

    .large-img img {
        border-radius: 0.25rem;
        object-fit: contain;
        height: 50vh;
        width: 50vw;
    }

    .small-img img {
        border-radius: 0.25rem;
        object-fit: contain;
        height: 10vh;
        width: 10vw;
        cursor: pointer;
    }

    .slider-container {
        overflow-x: auto;
        width: 100%;
        padding-bottom: 30px;
    }

    .slider-image {
        flex: 0 0 auto;
        width: 25%;
    }

    .single-product,
    .small-container {
        padding: 30px;
    }

    .name {
        color: var(--text-normal);
    }

    .price {
        color: var(--text-header);
        background-color: #fafafa;
        border-radius: 0.25rem;
        padding: 15px;
    }

    @media (max-width: 768px) {
        .pd-info-right {
            margin-top: 30px;
        }
    }

    .view-more-btn {
        line-height: 0;
        padding: 15px 35px;
        transition: all 0.5s;
        color: white;
        background: rgba(58, 65, 110, 1);
        border-color: rgba(58, 65, 110, 1);
        box-shadow: 0px 2px 10px rgba(21, 24, 41, 1);
        text-decoration: none;
    }

    .view-more-btn span {
        font-family: "Nunito", sans-serif;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 1px;
    }

    .view-more-btn:hover {
        transform: scale(1.05);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .pd-card a {
        text-decoration: none;
    }

    .pd-card {
        box-sizing: border-box;
        border: 1px solid #ccc;
        transition: transform 0.25s ease;
        text-decoration: none;
        width: 23%;
    }

    @media (max-width: 991px) {
        .pd-card {
            width: 45%;
        }
    }

    @media (max-width: 768px) {
        .pd-card {
            width: 70%;
        }
    }

    @media (max-width: 576px) {
        .pd-card {
            width: 90%;
        }
    }

    .pd-card:hover {
        transform: translateY(-5px) scale(1.01);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .pd-card img {
        padding: 10px;
        max-height: 100%;
        max-width: 100%;
    }

    .card-title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--text-normal);
        font-size: 16px;
        line-height: 1.2;
        min-height: calc(2 * 16px * 1.3);
    }

    .card-image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 22.5vh;
    }

    .card-content {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-price {
        color: var(--text-header);
        font-size: large;
    }

    .buy-now-btn,
    .del-btn {
        position: relative;
        border: none;
        overflow: hidden;
        color: white;
        z-index: 1;
    }

    .buy-now-btn:before,
    .del-btn:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.25s;
        z-index: -1;
    }

    .del-btn {
        background: var(--blue-gradient);
    }

    .del-btn:before {
        background: var(--pink-gradient);
    }

    .buy-now-btn {
        background: var(--red-gradient);
    }

    .buy-now-btn:before {
        background: var(--light-red-gradient);
    }

    .buy-now-btn:hover:before,
    .del-btn:hover:before {
        opacity: 1;
    }

    .del-col-btn {
        position: absolute;
        top: -15px;
        right: 0
    }
}

/* add to cart animation, somehow need to be outside to work */
.add-cart-btn {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    transition: 0.25s ease-in-out;
}

.add-cart-btn:hover {
    background: var(--blue-gradient);
    border: none;
}

.add-cart-btn:active {
    transform: scale(0.9);
}

.add-cart-btn .bi-cart-fill {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: -15%;
    font-size: 1.5rem;
    transform: translate(-50%, -50%);
}

.add-cart-btn .bi-box-seam-fill {
    position: absolute;
    z-index: 3;
    top: -25%;
    left: 50%;
    font-size: 0.875rem;
    transform: translate(-50%, -50%);
}

.add-cart-btn span {
    position: absolute;
    left: 50%;
    z-index: 3;
    top: 50%;
    transform: translate(-50%, -50%);
}

.add-cart-btn span.add-to-cart-text {
    opacity: 1;
    white-space: nowrap;
}

.add-cart-btn span.added {
    opacity: 0;
}

.add-cart-btn.clicked .bi-cart-fill {
    animation: cart 1.5s ease-in-out forwards;
}

.add-cart-btn.clicked .bi-box-seam-fill {
    animation: box 1.5s ease-in-out forwards;
}

.add-cart-btn.clicked span.add-to-cart-text {
    animation: txt1 1.5s ease-in-out forwards;
}

.add-cart-btn.clicked span.added {
    animation: txt2 1.5s ease-in-out forwards;
}

@keyframes cart {
    0% {
        left: -15%;
    }

    40%,
    60% {
        left: 50%;
    }

    100% {
        left: 110%;
    }
}

@keyframes box {

    0%,
    40% {
        top: -25%;
    }

    60% {
        top: 40%;
        left: 52%;
    }

    100% {
        top: 40%;
        left: 112%;
    }
}

@keyframes txt1 {
    0% {
        opacity: 1;
    }

    20%,
    100% {
        opacity: 0;
    }
}

@keyframes txt2 {

    0%,
    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* end cart animation */

.review-container {
    background-color: white;

    .view-more-section a {
        text-decoration: none;
        color: var(--text-normal);
    }
}

.rating-modal {
    .rating {
        .rating {
            display: inline-block;
            position: relative;
            height: 50px;
            line-height: 50px;
            font-size: 50px;
        }

        .rating label {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            cursor: pointer;
        }

        .rating label:last-child {
            position: static;
        }

        .rating label:nth-child(1) {
            z-index: 5;
        }

        .rating label:nth-child(2) {
            z-index: 4;
        }

        .rating label:nth-child(3) {
            z-index: 3;
        }

        .rating label:nth-child(4) {
            z-index: 2;
        }

        .rating label:nth-child(5) {
            z-index: 1;
        }

        .rating label input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }

        .rating label .icon {
            float: left;
            color: transparent;
        }

        .rating label:last-child .icon {
            color: #000;
        }

        .rating:not(:hover) label input:checked~.icon,
        .rating:hover label:hover input~.icon {
            color: #09f;
        }

        .rating label input:focus:not(:checked)~.icon:last-child {
            color: #000;
            text-shadow: 0 0 5px #09f;
        }
    }
}

.me-container {
    font-size: large;

    .tab-label {
        padding: 10px 16px;
        cursor: pointer;
        color: var(--text-normal)
    }

    .tab-radio {
        display: none;
    }

    .tab-content {
        background-color: white;
        order: 1;
        border-bottom: 3px solid #dddddd;
        line-height: 1.5;
        font-size: 0.9em;
        display: none;
    }

    .tab-radio:checked+.tab-label {
        font-weight: bold;
        color: var(--text-header);
        border-bottom: 2px solid rgba(21, 24, 41, 1);
    }

    .tab-radio:checked+.tab-label+.tab-content {
        display: initial;
    }

    .info-tab .image {
        position: relative;
        width: 100%;
        padding-top: 100%;
    }

    .info-tab .image img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .caution {
        display: none;
    }

    .del-btn,
    .set-btn,
    .add-btn {
        position: relative;
        border: none;
        overflow: hidden;
        color: white;
        z-index: 1;
    }

    .del-btn:before,
    .set-btn:before,
    .add-btn:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.25s;
        z-index: -1;
    }

    .del-btn,
    .add-btn {
        background: var(--blue-gradient);
    }

    .del-btn:before,
    .add-btn:before {
        background: var(--pink-gradient);
    }

    .set-btn {
        background: var(--red-gradient);
    }

    .set-btn:before {
        background: var(--light-red-gradient);
    }

    .del-btn:hover:before,
    .set-btn:hover:before,
    .add-btn:hover:before {
        opacity: 1;
    }
}

.add-address-modal,
.add-card-modal {
    .dropdown-btn {
        border-color: var(--border-color);
    }

    .wrong-card-alert {
        left: 135px;
    }
}

.cart-page,
.wishlist-page {
    .cart-container {
        background-color: white;

        .image img {
            object-fit: contain;
            height: 20vh;
            width: 20vw;
        }

        .btn-number {
            border: 1px solid rgba(21, 24, 41, 1) !important;
        }
    }

    .checkout-container {
        background-color: white;

        .cart-total-price {
            font-size: large;
        }

        .form-check {
            padding: 100px;
        }

        .select-all-wrapper {
            margin-left: 12.5px;
        }
    }

    .empty-cart {
        margin-top: 25px;
        margin-bottom: 25px;
        padding-top: 200px;
        padding-bottom: 200px;
    }

    @media (max-width: 768px) {
        max-width: 100%;
    }

    .wishlist-heading {
        background-color: white;
        display: inline-block;
        color: var(--text-header)
    }

    .stock {
        bottom: -30px;
        left: 50px;
    }

    .select-all-label {
        margin-left: 10px;
    }

    .checkout-btn {
        background: var(--blue-gradient);
        border: none;
        transition: all 0.25s;
    }

    .checkout-btn:hover {
        background: var(--pink-gradient);
    }

    .checkout-btn span {
        cursor: pointer;
        position: relative;
        transition: 0.5s;
    }

    .checkout-btn:hover span:after {
        opacity: 1;
        right: 0;
    }

    .checkout-btn:hover span {
        padding-right: 20px;
    }

    .checkout-btn span:after {
        position: absolute;
        opacity: 0;
        right: -20px;
        bottom: -4px;
        transition: 0.5s;
        font-family: "bootstrap-icons";
        content: "\F231";
    }

    .pd-remove-btn,
    .add-to-cart-btn {
        position: relative;
        border: none;
        overflow: hidden;
        color: white;
        z-index: 1;
    }

    .pd-remove-btn:before,
    .add-to-cart-btn:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.25s;
        z-index: -1;
    }

    .add-to-cart-btn {
        background: var(--red-gradient);
    }

    .add-to-cart-btn:before {
        background: var(--light-red-gradient);
    }

    .pd-remove-btn {
        background: var(--blue-gradient);
    }

    .pd-remove-btn:before {
        background: var(--pink-gradient);
    }

    .pd-remove-btn:hover:before,
    .add-to-cart-btn:hover:before {
        opacity: 1;
    }
}

.checkout-page {
    .child-container {
        background-color: white;
    }

    .cart-container {
        background-color: white;

        .image img {
            object-fit: contain;
            height: 20vh;
            width: 20vw;
        }
    }

    .checkout-total-price {
        font-size: large;
    }

    @media (max-width: 768px) {
        .place-order-section {
            margin-top: 20px;
        }
    }

    .truck-button {
        --color: #fff;
        --background: #2b3044;
        --tick: #16bf78;
        --base: #0d0f18;
        --wheel: #2b3044;
        --wheel-inner: #646b8c;
        --wheel-dot: #fff;
        --back: #6d58ff;
        --back-inner: #362a89;
        --back-inner-shadow: #2d246b;
        --front: #a6accd;
        --front-shadow: #535a79;
        --front-light: #fff8b1;
        --window: #2b3044;
        --window-shadow: #404660;
        --street: #646b8c;
        --street-fill: #404660;
        --box: #dcb97a;
        --box-shadow: #b89b66;
        padding: 12px 0;
        width: 172px;
        cursor: pointer;
        text-align: center;
        position: relative;
        border: none;
        outline: none;
        color: var(--color);
        background: var(--background);
        border-radius: var(--br, 5px);
        -webkit-appearance: none;
        -webkit-tap-highlight-color: transparent;
        transform-style: preserve-3d;
        transform: rotateX(var(--rx, 0deg)) translateZ(0);
        transition: transform 0.5s, border-radius 0.25s linear var(--br-d, 0s);
    }

    .truck-button:before,
    .truck-button:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 6px;
        display: block;
        background: var(--b, var(--street));
        transform-origin: 0 100%;
        transform: rotateX(90deg) scaleX(var(--sy, 1));
    }

    .truck-button:after {
        --sy: var(--progress, 0);
        --b: var(--street-fill);
    }

    .truck-button .default,
    .truck-button .success {
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        opacity: var(--o, 1);
        transition: opacity 0.25s;
    }

    .truck-button .success {
        --o: 0;
        position: absolute;
        top: 12px;
        left: 0;
        right: 0;
    }

    .truck-button .success svg {
        width: 12px;
        height: 10px;
        display: inline-block;
        vertical-align: top;
        fill: none;
        margin: 7px 0 0 4px;
        stroke: var(--tick);
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 16px;
        stroke-dashoffset: var(--offset, 16px);
        transition: stroke-dashoffset 0.4s ease 0.45s;
    }

    .truck-button .truck {
        position: absolute;
        width: 72px;
        height: 28px;
        transform: rotateX(90deg) translate3d(var(--truck-x, 4px), calc(var(--truck-y-n, -26) * 1px), 12px);
    }

    .truck-button .truck:before,
    .truck-button .truck:after {
        content: '';
        position: absolute;
        bottom: -6px;
        left: var(--l, 18px);
        width: 10px;
        height: 10px;
        border-radius: 50%;
        z-index: 2;
        box-shadow: inset 0 0 0 2px var(--wheel), inset 0 0 0 4px var(--wheel-inner);
        background: var(--wheel-dot);
        transform: translateY(calc(var(--truck-y) * -1px)) translateZ(0);
    }

    .truck-button .truck:after {
        --l: 54px;
    }

    .truck-button .truck .wheel,
    .truck-button .truck .wheel:before {
        position: absolute;
        bottom: var(--b, -6px);
        left: var(--l, 6px);
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: var(--wheel);
        transform: translateZ(0);
    }

    .truck-button .truck .wheel {
        transform: translateY(calc(var(--truck-y) * -1px)) translateZ(0);
    }

    .truck-button .truck .wheel:before {
        --l: 35px;
        --b: 0;
        content: '';
    }

    .truck-button .truck .front,
    .truck-button .truck .back,
    .truck-button .truck .box {
        position: absolute;
    }

    .truck-button .truck .back {
        left: 0;
        bottom: 0;
        z-index: 1;
        width: 47px;
        height: 28px;
        border-radius: 1px 1px 0 0;
        background: linear-gradient(68deg, var(--back-inner) 0%, var(--back-inner) 22%, var(--back-inner-shadow) 22.1%, var(--back-inner-shadow) 100%);
    }

    .truck-button .truck .back:before,
    .truck-button .truck .back:after {
        content: '';
        position: absolute;
    }

    .truck-button .truck .back:before {
        left: 11px;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        border-radius: 0 1px 0 0;
        background: var(--back);
    }

    .truck-button .truck .back:after {
        border-radius: 1px;
        width: 73px;
        height: 2px;
        left: -1px;
        bottom: -2px;
        background: var(--base);
    }

    .truck-button .truck .front {
        left: 47px;
        bottom: -1px;
        height: 22px;
        width: 24px;
        -webkit-clip-path: polygon(55% 0, 72% 44%, 100% 58%, 100% 100%, 0 100%, 0 0);
        clip-path: polygon(55% 0, 72% 44%, 100% 58%, 100% 100%, 0 100%, 0 0);
        background: linear-gradient(84deg, var(--front-shadow) 0%, var(--front-shadow) 10%, var(--front) 12%, var(--front) 100%);
    }

    .truck-button .truck .front:before,
    .truck-button .truck .front:after {
        content: '';
        position: absolute;
    }

    .truck-button .truck .front:before {
        width: 7px;
        height: 8px;
        background: #fff;
        left: 7px;
        top: 2px;
        -webkit-clip-path: polygon(0 0, 60% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 60% 0%, 100% 100%, 0% 100%);
        background: linear-gradient(59deg, var(--window) 0%, var(--window) 57%, var(--window-shadow) 55%, var(--window-shadow) 100%);
    }

    .truck-button .truck .front:after {
        width: 3px;
        height: 2px;
        right: 0;
        bottom: 3px;
        background: var(--front-light);
    }

    .truck-button .truck .box {
        width: 13px;
        height: 13px;
        right: 56px;
        bottom: 0;
        z-index: 1;
        border-radius: 1px;
        overflow: hidden;
        transform: translate(calc(var(--box-x, -24) * 1px), calc(var(--box-y, -6) * 1px)) scale(var(--box-s, 0.5));
        opacity: var(--box-o, 0);
        background: linear-gradient(68deg, var(--box) 0%, var(--box) 50%, var(--box-shadow) 50.2%, var(--box-shadow) 100%);
        background-size: 250% 100%;
        background-position-x: calc(var(--bx, 0) * 1%);
    }

    .truck-button .truck .box:before,
    .truck-button .truck .box:after {
        content: '';
        position: absolute;
    }

    .truck-button .truck .box:before {
        content: '';
        background: rgba(255, 255, 255, .2);
        left: 0;
        right: 0;
        top: 6px;
        height: 1px;
    }

    .truck-button .truck .box:after {
        width: 6px;
        left: 100%;
        top: 0;
        bottom: 0;
        background: var(--back);
        transform: translateX(calc(var(--hx, 0) * 1px));
    }

    .truck-button.animation {
        --rx: -90deg;
        --br: 0;
    }

    .truck-button.animation .default {
        --o: 0;
    }

    .truck-button.animation.done {
        --rx: 0deg;
        --br: 5px;
        --br-d: 0.2s;
    }

    .truck-button.animation.done .success {
        --o: 1;
        --offset: 0;
    }

    html {
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
    }

    * {
        box-sizing: inherit;
    }

    *:before,
    *:after {
        box-sizing: inherit;
    }

    .no-address-btn,
    .change-address-btn,
    .no-card-btn,
    .change-card-btn {
        position: relative;
        border: none;
        overflow: hidden;
        background: var(--red-gradient);
        color: white;
        z-index: 1;
    }

    .no-address-btn:before,
    .change-address-btn:before,
    .no-card-btn:before,
    .change-card-btn:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--light-red-gradient);
        opacity: 0;
        transition: opacity 0.25s;
        z-index: -1;
    }

    .no-address-btn:hover:before,
    .change-address-btn:hover:before,
    .no-card-btn:hover:before,
    .change-card-btn:hover:before {
        opacity: 1;
    }
}

.order-page {
    .child-container {
        background-color: white;
    }

    .cart-container {
        background-color: white;

        .image img {
            object-fit: contain;
            height: 20vh;
            width: 20vw;
        }
    }

    .order-total-price {
        font-size: large;
    }
}

.orders-page {
    .order-container {
        background-color: white;

        .image img {
            object-fit: contain;
            height: 20vh;
            width: 20vw;
        }
    }

    .no-order {
        background-color: white;
        margin-top: 25px;
        margin-bottom: 25px;
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.listing-page {
    .breadcrumb {
        margin-left: 15px;
    }

    nav ul {
        list-style: none;
    }

    .nav-list-styling {
        margin-bottom: 10px;
    }

    .pd-card a {
        text-decoration: none;
    }

    .pd-card {
        box-sizing: border-box;
        border: 1px solid #ccc;
        transition: transform 0.25s ease;
        text-decoration: none;
    }

    .pd-card:hover {
        transform: translateY(-5px) scale(1.01);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .pd-card img {
        padding: 10px;
        max-height: 100%;
        max-width: 100%;
    }

    .card-title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--text-normal);
        font-size: 16px;
        line-height: 1.2;
        min-height: calc(2 * 16px * 1.3);
    }

    .card-image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 22.5vh;
    }

    .card-content {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-price {
        color: var(--text-header);
        font-size: large;
    }

    .listing-nav {
        text-align: center;
        margin-top: 15px;
    }

    .listing-nav button {
        margin: 0;
        background-color: white;
        border: 1px solid #ccc;
        padding: 8px 16px;
        cursor: pointer;
    }

    .listing-nav button:hover {
        background-color: #f0f0f0;
    }

    .listing-nav button.active {
        background-color: #007bff;
        color: white;
        pointer-events: none;
    }

    .no-products {
        background-color: white;
        padding: 100px;
    }

    .submit-btn,
    .reset-btn {
        width: 47.5%;
        position: relative;
        border: none;
        overflow: hidden;
        color: white;
        z-index: 1;
    }

    .submit-btn:before,
    .reset-btn:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.25s;
        z-index: -1;
    }

    .reset-btn {
        background: var(--blue-gradient);
    }

    .reset-btn:before {
        background: var(--pink-gradient);
    }

    .submit-btn {
        background: var(--red-gradient);
    }

    .submit-btn:before {
        background: var(--light-red-gradient);
    }

    .submit-btn:hover:before,
    .reset-btn:hover:before {
        opacity: 1;
    }
}

.accounts-page {
    .tab-label {
        padding: 10px 16px;
        cursor: pointer;
        color: var(--text-normal)
    }

    .tab-radio {
        display: none;
    }

    .tab-content {
        order: 1;
        display: none;
    }

    .tab-radio:checked+.tab-label {
        font-weight: bold;
        color: var(--text-header);
        border-bottom: 2px solid rgba(21, 24, 41, 1);
    }

    .tab-radio:checked+.tab-label+.tab-content {
        display: initial;
    }

    width: 70vw;

    .user-row {
        background-color: white;
    }

    @media (max-width: 768px) {
        .row-right {
            margin-top: 20px;
        }
    }
}