{% load static %}

<div class="col-12 col-md-6" data-aos="fade-up">
    <div class="large-img d-flex justify-content-center">
        <img src="{% static 'images/products/' %}{{ images.0 }}" class="large-image img-fluid" alt="large-img">
    </div>
    <div id="slider-container" class="extra-img row gap-1 mt-5 slider-container flex-nowrap">
        {% for image in images %}
        <div class="col-auto slider-image">
            <div class="small-img d-flex justify-content-center">
                <img src="{% static 'images/products/' %}{{ image }}" class="img-fluid slider-image-img" alt="small-img"
                    onclick="changeLargeImg(this)">
            </div>
        </div>
        {% endfor %}
    </div>
</div>