{% load static %}

{% include "partials/header.html" %}

<!-- hero -->
<section class="hero about-page d-flex align-items-center"
    style="background-image: url({% static 'images/hero-bg.png' %}); background-size: cover;">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">Shop with Confidence</h1>
                <h2 data-aos="fade-up" data-aos-delay="400">We offer high-quality products, secure payments, and
                    fast shipping.</h2>
                <div data-aos="fade-up" data-aos-delay="600">
                    <div class="text-center text-lg-start">
                        <a href="/products"
                            class="btn-start-buying scrollto d-inline-flex align-items-center justify-content-center align-self-center rounded">
                            <span>Start Buying</span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <img src="{% static 'images/hero-img.png' %}" alt="hero-img">
            </div>
        </div>
    </div>

</section>

<div class="container about-page mt-5" data-aos="fade-up">
    <div class="row g-0 form-row justify-content-center">
        <div class="col-lg-6 col-xl-5 col-xxl-4 shadow-sm d-none d-lg-block img-col">
            <img src="{% static 'images/pexels-canva-studio-3194519.jpg' %}" alt="about-page-img"
                class="img-fluid h-100 about-page-img">
        </div>

        <div class="col-12 col-md-10 col-lg-6 col-xl-5 col-xxl-4 shadow-sm text-col">
            <div class="about-wrapper">
                <h1 class="mb-4">About Us</h1>
                <hr>
                <p class="mt-4 about-text">
                    We are a team of 5 members from RMIT University in Vietnam, all of us are enrolled in Building IT
                    Systems Course. This website is our assignment for this course. We have created this platform that
                    highly focus on technological products and equipment. This venture demonstrates not just our joint
                    skills and commitment, but also our enthusiasm to the digital world.
                    <br><br>
                    Welcome to our creation and see for yourself in the fruits of our labor and ingenuity.
                </p>
            </div>
        </div>
    </div>

    <div class="row mt-5 d-flex align-items-center justify-content-center" data-aos="fade-up">
        <div class="col-8 p-5 text-center info-container shadow-sm rounded">
            <h2>Contact Us</h2>
            <p>For any questions or concerns, please contact us at <a href="mailto:s3975162@rmit.edu.vn">Email</a></p>
        </div>
    </div>
</div>

<div class="container mb-5 text-center rounded shadow-sm info-container p-3" data-aos="fade-up">
    <h2 class="mb-3 mt-2">Our Location 📌</h2>
    <div class="map ratio ratio-16x9">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.0717237054464!2d106.69319177490712!3d10.728951489416934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752fbea5fe3db1%3A0xfae94aca5709003f!2zxJDhuqFpIEjhu41jIFJNSVQgTmFtIFPDoGkgR8Oybg!5e0!3m2!1svi!2s!4v1689068252755!5m2!1svi!2s"
            allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

{% include "partials/footer.html" %}