<div class="row p-2">
    <div class="col-4 col-lg-2 text-end pt-1">Phone number</div>
    <div class="col-8 col-lg-4">
        {% if '+' not in address.phone_number_code %}
        <input class="form-control" type="text" value="(+{{ address.phone_number_code }}) {{ address.phone_number }}"
            readonly>
        {% else %}
        <input class="form-control" type="text" value="({{ address.phone_number_code }}) {{ address.phone_number }}"
            readonly>
        {% endif %}
    </div>
    <div class="col-4 col-lg-2 text-end pt-1">Country</div>
    <div class="col-8 col-lg-4">
        <input class="form-control" type="text" value="{{ address.country }}" readonly>
    </div>
</div>

<div class="row p-2">
    <div class="col-4 col-lg-2 text-end pt-1">Address</div>
    <div class="col-8 col-lg-4">
        <input class="form-control" type="text" value="{{ address.address }}" readonly>
    </div>
    <div class="col-4 col-lg-2 text-end pt-1">City</div>
    <div class="col-8 col-lg-4">
        <input class="form-control" type="text" value="{{ address.city }}" readonly>
    </div>
</div>

<div class="row p-2">
    <div class="col-4 col-lg-2 text-end pt-1">State</div>
    <div class="col-8 col-lg-4">
        <input class="form-control" type="text" value="{{ address.state }}" readonly>
    </div>
    <div class="col-4 col-lg-2 text-end pt-1">Postal code</div>
    <div class="col-8 col-lg-4">
        <input class="form-control" type="text" value="{{ address.postal_code }}" readonly>
    </div>
</div>