{% load static %}

{% include "partials/header.html" %}

<!-- hero -->
<section class="hero" style="background-image: url({% static 'images/hero-bg.png' %}); background-size: cover;">

    <div class="dummy"></div>

    <div class="container hero-container">
        <div class="row mt-5 hero-section">
            <div class="col-12 col-lg-8 d-flex justify-content-center align-items-center">

                <div id="carouselBanners" class="carousel slide w-100 h-100" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselBanners" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselBanners" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselBanners" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselBanners" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carouselBanners" data-bs-slide-to="4"
                            aria-label="Slide 5"></button>
                        <button type="button" data-bs-target="#carouselBanners" data-bs-slide-to="5"
                            aria-label="Slide 6"></button>
                    </div>
                    <div class="carousel-inner rounded">
                        <div class="carousel-item active">
                            <a href="/products">
                                <img src="{% static 'images/banners/415179501_900681681282332_3521465007760327866_n.png' %}"
                                    class="d-block w-100" alt="hero-img">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="/products">
                                <img src="{% static 'images/banners/417789865_704395178140857_5536776349925519837_n.png' %}"
                                    class="d-block w-100" alt="hero-img">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="/products">
                                <img src="{% static 'images/banners/403647808_1053328182573073_3972314871930461414_n.png' %}"
                                    class="d-block w-100" alt="hero-img">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="/products">
                                <img src="{% static 'images/banners/417331408_1038120567440149_8723769867265086795_n.png' %}"
                                    class="d-block w-100" alt="hero-img">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="/products">
                                <img src="{% static 'images/banners/415010907_1088388495848823_2418918667842539252_n.png' %}"
                                    class="d-block w-100" alt="hero-img">
                            </a>
                        </div>
                        {% if type %}
                        <div class="carousel-item">
                            <a href="/products">
                                <img src="{% static 'images/banners/417369823_397174279413059_7603578192054044694_n.png' %}"
                                    class="d-block w-100" alt="hero-img">
                            </a>
                        </div>
                        {% else %}
                        <div class="carousel-item">
                            <a href="/signup">
                                <img src="{% static 'images/banners/417369823_397174279413059_7603578192054044694_n.png' %}"
                                    class="d-block w-100" alt="hero-img">
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselBanners"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselBanners"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>

            <div class="col-4 d-none d-lg-block">
                <div class="row h-100 d-flex justify-content-between">
                    <div class="col-12">
                        <a href="/products">
                            <img src="{% static 'images/banners/415010907_1088388495848823_2418918667842539252_n.png' %}"
                                alt="hero-img" class="img-fluid rounded">
                        </a>
                    </div>
                    <div class="col-12 mt-1 d-flex justify-content-end">
                        {% if type %}
                        <a href="/products">
                            <img src="{% static 'images/banners/417369823_397174279413059_7603578192054044694_n.png' %}"
                                alt="hero-img" class="img-fluid rounded">
                        </a>
                        {% else %}
                        <a href="/signup">
                            <img src="{% static 'images/banners/417369823_397174279413059_7603578192054044694_n.png' %}"
                                alt="hero-img" class="img-fluid rounded">
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>

        <div class="row mt-3 category-section">
            <div class="col-6 col-md-4 col-lg-2 categories-section">
                <div class="card p-2">
                    <a class="text-decoration-none text-reset" href="/products/?filter=Watches">
                        <div class="card-img">
                            <img src="{% static 'images/categories/watches.jpg' %}" class="card-img-top" alt="card-img">
                        </div>
                        <div class="card-body">
                            <p class="card-text">Watches</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 categories-section">
                <div class="card p-2">
                    <a class="text-decoration-none text-reset" href="/products/?filter=Shoes">
                        <div class="card-img">
                            <img src="{% static 'images/categories/shoes.jpg' %}" class="card-img-top" alt="card-img">
                        </div>
                        <div class="card-body">
                            <p class="card-text">Shoes</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 categories-section">
                <div class="card p-2">
                    <a class="text-decoration-none text-reset" href="/products/?filter=Sport">
                        <div class="card-img">
                            <img src="{% static 'images/categories/sport.jpg' %}" class="card-img-top" alt="card-img">
                        </div>
                        <div class="card-body">
                            <p class="card-text">Sport</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 categories-section">
                <div class="card p-2">
                    <a class="text-decoration-none text-reset" href="/products/?filter=Kitchen">
                        <div class="card-img">
                            <img src="{% static 'images/categories/kitchen.jpg' %}" class="card-img-top" alt="card-img">
                        </div>
                        <div class="card-body">
                            <p class="card-text">Kitchen</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 categories-section">
                <div class="card p-2">
                    <a class="text-decoration-none text-reset" href="/products/?filter=Books">
                        <div class="card-img">
                            <img src="{% static 'images/categories/books.jpg' %}" class="card-img-top" alt="card-img">
                        </div>
                        <div class="card-body">
                            <p class="card-text">Books</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 categories-section">
                <div class="card p-2">
                    <a class="text-decoration-none text-reset" href="/products/?filter=Fashion">
                        <div class="card-img">
                            <img src="{% static 'images/categories/fashion.jpg' %}" class="card-img-top" alt="card-img">
                        </div>
                        <div class="card-body">
                            <p class="card-text">Fashion</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 categories-section">
                <div class="card p-2">
                    <a class="text-decoration-none text-reset" href="/products/?filter=Healthcare">
                        <div class="card-img">
                            <img src="{% static 'images/categories/healthcare.jpg' %}" class="card-img-top"
                                alt="card-img">
                        </div>
                        <div class="card-body">
                            <p class="card-text">Healthcare</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 categories-section">
                <div class="card p-2">
                    <a class="text-decoration-none text-reset" href="/products/?filter=Beauty">
                        <div class="card-img">
                            <img src="{% static 'images/categories/beauty.jpg' %}" class="card-img-top" alt="card-img">
                        </div>
                        <div class="card-body">
                            <p class="card-text">Beauty</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 categories-section">
                <div class="card p-2">
                    <a class="text-decoration-none text-reset" href="/products/?filter=Arts%20and%20Crafts">
                        <div class="card-img">
                            <img src="{% static 'images/categories/arts_and_crafts.jpg' %}" class="card-img-top"
                                alt="card-img">
                        </div>
                        <div class="card-body">
                            <p class="card-text">Arts & Crafts</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 categories-section">
                <div class="card p-2">
                    <a class="text-decoration-none text-reset" href="/products/?filter=Automotive">
                        <div class="card-img">
                            <img src="{% static 'images/categories/automotive.jpg' %}" class="card-img-top"
                                alt="card-img">
                        </div>
                        <div class="card-body">
                            <p class="card-text">Automotive</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 categories-section">
                <div class="card p-2">
                    <a class="text-decoration-none text-reset" href="/products/?filter=Electronic%20accessory">
                        <div class="card-img">
                            <img src="{% static 'images/categories/electronic_accessory.jpg' %}" class="card-img-top"
                                alt="card-img">
                        </div>
                        <div class="card-body">
                            <p class="card-text">Electronic</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 categories-section">
                <div class="card p-2">
                    <a class="text-decoration-none text-reset" href="/products/?filter=Baby">
                        <div class="card-img">
                            <img src="{% static 'images/categories/baby.jpg' %}" class="card-img-top" alt="card-img">
                        </div>
                        <div class="card-body">
                            <p class="card-text">Baby</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row view-more-section mt-4 pb-5 text-center">
            <div class="col">
                <a href="/products" class="btn btn-primary view-more-btn">
                    <span>View More</span>
                </a>
            </div>
        </div>

    </div>

</section>

<!-- carousel-->
<div class="container home-products mt-5 mb-5">
    <div class="row mb-5">
        <div class="col-6">
            <h3 class="mb-3">Trending</h3>
        </div>
        <div class="col-6 text-end">
            <a class="btn mb-3 mr-1 carousel-btn" data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
                <i class="bi bi-arrow-left"></i>
            </a>
            <a class="btn mb-3 carousel-btn" data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">
                <i class="bi bi-arrow-right"></i>
            </a>
        </div>
        <div class="col-12">
            <div id="carouselExampleIndicators1" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <div class="row d-flex justify-content-center pd-row">
                            {% for product in trending1 %}
                            <div class="col-12 col-sm-10 col-md-8 col-lg-4 mb-3 d-flex justify-content-center">
                                <div class="card pd-card">
                                    <a href="/product/{{ product.id }}">
                                        <div class="pd-img">
                                            <img alt="pd-img"
                                                src="{% static 'images/products/' %}{{ product.images.0 }}">
                                        </div>
                                        <div class="card-body pd-info">
                                            <div class="card-title pd-name">
                                                {{ product.name }}
                                            </div>
                                            <div class="card-text pd-price">
                                                ${{ product.price }}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="row d-flex justify-content-center pd-row">
                            {% for product in trending2 %}
                            <div class="col-12 col-sm-10 col-md-8 col-lg-4 mb-3 d-flex justify-content-center">
                                <div class="card pd-card">
                                    <a href="/product/{{ product.id }}">
                                        <div class="pd-img">
                                            <img alt="pd-img"
                                                src="{% static 'images/products/' %}{{ product.images.0 }}">
                                        </div>
                                        <div class="card-body pd-info">
                                            <div class="card-title pd-name">
                                                {{ product.name }}
                                            </div>
                                            <div class="card-text pd-price">
                                                ${{ product.price }}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="row d-flex justify-content-center pd-row">
                            {% for product in trending3 %}
                            <div class="col-12 col-sm-10 col-md-8 col-lg-4 mb-3 d-flex justify-content-center">
                                <div class="card pd-card">
                                    <a href="/product/{{ product.id }}">
                                        <div class="pd-img">
                                            <img alt="pd-img"
                                                src="{% static 'images/products/' %}{{ product.images.0 }}">
                                        </div>
                                        <div class="card-body pd-info">
                                            <div class="card-title pd-name">
                                                {{ product.name }}
                                            </div>
                                            <div class="card-text pd-price">
                                                ${{ product.price }}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-6">
            <h3 class="mb-3">New Arrival</h3>
        </div>
        <div class="col-6 text-end">
            <a class="btn mb-3 mr-1 carousel-btn" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
                <i class="bi bi-arrow-left"></i>
            </a>
            <a class="btn mb-3 carousel-btn" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
                <i class="bi bi-arrow-right"></i>
            </a>
        </div>
        <div class="col-12">
            <div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <div class="row d-flex justify-content-center pd-row">
                            {% for product in new_arrival1 %}
                            <div class="col-12 col-sm-10 col-md-8 col-lg-4 mb-3 d-flex justify-content-center">
                                <div class="card pd-card">
                                    <a href="/product/{{ product.id }}">
                                        <div class="pd-img">
                                            <img alt="pd-img"
                                                src="{% static 'images/products/' %}{{ product.images.0 }}">
                                        </div>
                                        <div class="card-body pd-info">
                                            <div class="card-title pd-name">
                                                {{ product.name }}
                                            </div>
                                            <div class="card-text pd-price">
                                                ${{ product.price }}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="row d-flex justify-content-center pd-row">
                            {% for product in new_arrival2 %}
                            <div class="col-12 col-sm-10 col-md-8 col-lg-4 mb-3 d-flex justify-content-center">
                                <div class="card pd-card">
                                    <a href="/product/{{ product.id }}">
                                        <div class="pd-img">
                                            <img alt="pd-img"
                                                src="{% static 'images/products/' %}{{ product.images.0 }}">
                                        </div>
                                        <div class="card-body pd-info">
                                            <div class="card-title pd-name">
                                                {{ product.name }}
                                            </div>
                                            <div class="card-text pd-price">
                                                ${{ product.price }}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="row d-flex justify-content-center pd-row">
                            {% for product in new_arrival3 %}
                            <div class="col-12 col-sm-10 col-md-8 col-lg-4 mb-3 d-flex justify-content-center">
                                <div class="card pd-card">
                                    <a href="/product/{{ product.id }}">
                                        <div class="pd-img">
                                            <img alt="pd-img"
                                                src="{% static 'images/products/' %}{{ product.images.0 }}">
                                        </div>
                                        <div class="card-body pd-info">
                                            <div class="card-title pd-name">
                                                {{ product.name }}
                                            </div>
                                            <div class="card-text pd-price">
                                                ${{ product.price }}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <a href="/products" class="btn btn-primary view-more-btn">
            <span>View More</span>
        </a>
    </div>
</div>

{% include "partials/footer.html" %}