{% include "partials/header.html" %}

<p>This is my account page</p>
<div class="container">
    <div class="tools">
        <div class="basic-profile">
            <a class="user-image" href="">
                <div class="shop-avatar">
                    <div class="shop-avatar_placeholder">
                        <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0" class="shop-svg-icon icon-headshot">
                            <g>
                                <circle cx="7.5" cy="4.5" fill="none" r="3.8" stroke-miterlimit="10"></circle>
                                <path d="m1.5 14.2c0-3.3 2.7-6 6-6s6 2.7 6 6" fill="none" stroke-linecap="round" stroke-miterlimit="10"></path>
                            </g>
                        </svg>
                    </div>
                </div>
            </a>
            <div class="edit-profile">
                <div class="name">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">User Name</font>
                    </font>
                </div>
                <div>
                    <a class="edit" href=""><svg width="12" height="12" viewBox="0 0 12 12"
                            xmlns="http://www.w3.org/2000/svg" style="margin-right: 4px;">
                            <path d="M8.54 0L6.987 1.56l3.46 3.48L12 3.48M0 8.52l.073 3.428L3.46 12l6.21-6.18-3.46-3.48"
                                fill="#9B9B9B" fill-rule="evenodd">
                            </path>
                        </svg>
                        "Edit Profile"
                    </a>
                </div>
            </div>
        </div>
        <div class="profile-container">
            <div class="Profile">
                <h1 class="title">My Account</h1>
                <div class="manage-account">Manage account information for account security</div>
            </div>
        </div>
    </div>
</div>

{% include "partials/footer.html" %}