{% load static %}

{% include "partials/header.html" %}

<div class="dummy"></div>

<div class="container accounts-page d-flex flex-wrap align-items-center justify-content-center gap-3">
    <!-- Customer -->
    <input type="radio" class="tab-radio" id="tab1" name="account-tabs" checked>
    <label for="tab1" class="tab-label btn rounded">Customer</label>
    <div class="container-fluid tab-content customer-tab">
        {% for user in users %}
        {% if user.account_type == "C" %}
        {% include "authentication/accounts-tab.html" %}
        {% endif %}
        {% endfor %}
    </div>

    <!-- Vendor -->
    <input type="radio" class="tab-radio" id="tab2" name="account-tabs">
    <label for="tab2" class="tab-label btn rounded">Vendor</label>
    <div class="container-fluid tab-content vendor-tab">
        {% for user in users %}
        {% if user.account_type == "V" %}
        {% include "authentication/accounts-tab.html" %}
        {% endif %}
        {% endfor %}
    </div>

    <!-- Shipper -->
    <input type="radio" class="tab-radio" id="tab3" name="account-tabs">
    <label for="tab3" class="tab-label btn rounded">Shipper</label>
    <div class="container-fluid tab-content shipper-tab">
        {% for user in users %}
        {% if user.account_type == "S" %}
        {% include "authentication/accounts-tab.html" %}
        {% endif %}
        {% endfor %}
    </div>
</div>

{% include "partials/footer.html" %}