{% load static %}

{% include "partials/header-auth.html" %}

<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" href="/signin">Log in</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-black" href="/signup">Sign up</a>
    </li>
</ul>
</div>
</div>
</nav>
</header>

<div class="container col-8 alert alert-dismissible alert-container fade show position-fixed fixed-top">
    <i class="bi bi-exclamation-triangle-fill"></i>
    <span class="alert-msg"></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="slides-container">
    <div class="container-fluid slides">
        <div class="row">
            <div class="col d-flex align-items-center justify-content-center">
                <form class="w-50 signin-form" method="POST" action="/signin/">
                    <h1 class="mb-3 heading" data-aos="fade-up">SIGN IN</h1>
                    <div class="form-floating mb-3" data-aos="fade-up" data-aos-delay="200">
                        <input type="text" id="username" name="username" class="form-control username"
                            placeholder="Username" oninput="signInEdit()" onkeypress="handleKeyPress(event, 'auth')"
                            required>
                        <label for="username">Username</label>
                    </div>

                    <div class="form-floating mb-4" data-aos="fade-up" data-aos-delay="200">
                        <input type="password" id="password" name="password" class="form-control password"
                            placeholder="Password" oninput="signInEdit()" onkeypress="handleKeyPress(event, 'auth')"
                            required>
                        <label for="password">Password</label>
                    </div>

                    <div class="d-grid mb-3" data-aos="fade-up" data-aos-delay="400">
                        <button type="button" class="btn btn-primary anm-btn signin-btn" onclick="signIn()" disabled>
                            <span>Sign in</span>
                        </button>
                    </div>

                    <div class="text-center" data-aos="fade-up" data-aos-delay="400">
                        <p>Not a member? <a href="/signup">Sign up</a></p>
                    </div>

                    <div class="justify-content-center align-items-center gap-3 spinner">
                        <div class="spinner-border" role="status"></div>
                        <span>Logging you in...</span>
                    </div>

                </form>
            </div>

            <div class="col p-0 d-none d-md-block">
                <div class="oblique-r">
                    <img src="{% static 'images/curved-6.71ee1d1c.jpg' %}" alt="oblique-image" class="oblique-img">
                </div>
            </div>
        </div>
    </div>

    {% include "partials/footer.html" %}