{% load static %}

{% include "partials/header-auth.html" %}

<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link text-black" href="/signin">Log in</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/signup">Sign up</a>
    </li>
</ul>
</div>
</div>
</nav>
</header>

<div class="container col-8 alert alert-dismissible alert-container fade show position-fixed fixed-top">
    <i class="bi bi-exclamation-triangle-fill"></i>
    <span class="alert-msg"></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="slides-container">
    <div class="container-fluid slides">
        <div class="row">
            <div class="col p-0 d-none d-md-block">
                <div class="oblique-l">
                    <img src="{% static 'images/curved-6.71ee1d1c.jpg' %}" alt="oblique-image" class="oblique-img">
                </div>
            </div>

            <div class="col d-flex align-items-center justify-content-center">
                <form class="w-50 signup-form" method="POST" action="/signup/">
                    <h1 class="mb-3 heading" data-aos="fade-up">SIGN UP</h1>
                    <div class="form-floating mb-3" data-aos="fade-up" data-aos-delay="200">
                        <input type="text" id="name" name="name" class="form-control name" placeholder="Name"
                            oninput="signUpEditName()" required>
                        <label for="username">Name</label>
                        <i class="name-danger caution text-danger">*Name must be lower than 255 characters and not
                            empty.</i>
                    </div>

                    <div class="form-floating mb-3" data-aos="fade-up" data-aos-delay="200">
                        <input type="text" id="username" name="username" class="form-control username"
                            placeholder="Username" oninput="signUpEditUsername()" required>
                        <label for="username">Username</label>
                        <i class="username-danger caution text-danger">*Usernames must contain only letters and
                            digits and between 4 and 25 characters.</i>
                    </div>

                    <div class="form-floating mb-3" data-aos="fade-up" data-aos-delay="200">
                        <input type="password" id="password" name="password" class="form-control password"
                            placeholder="Password" oninput="signUpEditPassword()" required>
                        <label for="password">Password</label>
                        <i class="password-danger caution text-danger">*Passwords must contain at least one
                            uppercase, one lowercase, one digit, one special character and at least 8 characters
                            long.</i>
                    </div>

                    <div class="form-floating mb-4" data-aos="fade-up" data-aos-delay="200">
                        <input type="password" id="confirm-password" name="confirm-password"
                            class="form-control confirm-password" placeholder="Confirm password"
                            oninput="signUpConfirmPassword()" required>
                        <label for="confirm-password">Confirm password</label>
                        <i class="confirm-password-danger caution text-danger">*Password confirmation doesn't match
                            the password</i>
                    </div>

                    <div class="container row check-boxes align-items-center mb-3" data-aos="fade-up"
                        data-aos-delay="200">
                        <div class="col form-check d-flex justify-content-center gap-2">
                            <input class="form-check-input" type="radio" value="vendor" name="accounttype"
                                id="vendorCheck" oninput="signUpEditType()">
                            <label class="form-check-label" for="vendorCheck">
                                Vendor
                            </label>
                        </div>
                        <div class="col form-check d-flex justify-content-center gap-2">
                            <input class="form-check-input" type="radio" value="customer" name="accounttype"
                                id="customerCheck" oninput="signUpEditType()">
                            <label class="form-check-label" for="customerCheck">
                                Customer
                            </label>
                        </div>
                        <div class="col form-check d-flex justify-content-center gap-2">
                            <input class="form-check-input" type="radio" value="shipper" name="accounttype"
                                id="shipperCheck" oninput="signUpEditType()">
                            <label class="form-check-label" for="shipperCheck">
                                Shipper
                            </label>
                        </div>
                    </div>

                    <div class="d-grid mb-3" data-aos="fade-up" data-aos-delay="400">
                        <button type="button" class="btn btn-primary anm-btn signup-btn" onclick="signUp()" disabled>
                            <span>Sign up</span>
                        </button>
                    </div>

                    <div class="justify-content-center align-items-center gap-3 spinner">
                        <div class="spinner-border" role="status"></div>
                        <span>Signing you up...</span>
                    </div>

                </form>
            </div>

        </div>
    </div>

    {% include "partials/footer.html" %}