{% load js %}

{% load static %}

<!-- Addresses -->
<div class="modal fade add-address-modal" id="addAddress" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="addAddressLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <form method="POST" action="/me/address/add/" class="add-address-form">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addAddressLabel">Add new address</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="container">
                    <div class="row p-2 pt-4">
                        <div class="col-12">Country</div>
                        <div class="col-12">
                            <div class="dropdown w-100">
                                <input class="form-control country_input" type="hidden" name="country" value="Country">
                                <button class="btn dropdown-btn dropdown-toggle w-100 country-btn text-start"
                                    type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Country
                                </button>
                                <ul class="dropdown-menu country-dropdown">
                                    <li>
                                        <input class="form-control country" type="text" onkeyup="filterCountry()">
                                    </li>
                                    {% for country, name in names.items %}
                                    <li>
                                        <a class="dropdown-item" href="#"
                                            onclick="choseCountry('{{ country }}', '{{ name }}')">
                                            ({{ country }}) {{ name }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row p-2">
                        <div class="col-12">Phone number</div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-4">
                                    <div class="dropdown-center w-100">
                                        <input class="form-control phone_number_code_input" type="hidden"
                                            name="phone_number_code" value="Code">
                                        <button class="btn dropdown-btn dropdown-toggle w-100 phone_number_code-btn"
                                            type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Code
                                        </button>
                                        <ul class="dropdown-menu number-code-dropdown">
                                            <li>
                                                <input class="form-control phone_number_code" type="text"
                                                    onkeyup="filterNumberCode()">
                                            </li>
                                            {% for country, phone in phones.items %}
                                            <li>
                                                <a class="dropdown-item" href="#"
                                                    onclick="choseNumberCode('{{ country }}', '{{ phone }}')">
                                                    ({{ country }}) {{ phone }}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <input class="form-control phone-number-input" type="tel" pattern="[0-9]+"
                                        maxlength="15" name="phone_number" placeholder="Phone number"
                                        inputmode="numeric" oninput="this.value = this.value.replace(/\D+/g, '')"
                                        required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row p-2">
                        <div class="col-12">Address</div>
                        <div class="col-12">
                            <input class="form-control address-input" type="text" name="address" placeholder="Address"
                                oninput="preventFirstSpace(this)" required>
                        </div>
                    </div>

                    <div class="row p-2">
                        <div class="col-12">City</div>
                        <div class="col-12">
                            <input class="form-control city-input" type="text" name="city" placeholder="City"
                                oninput="preventFirstSpace(this)" required>
                        </div>
                    </div>

                    <div class="row p-2 pb-4">
                        <div class="col-6">State/Province/Region</div>
                        <div class="col-6">Postal code</div>

                        <div class="col-6">
                            <div class="dropdown-center w-100">
                                <input class="form-control state_input" type="hidden" name="state" value="State">
                                <button class="btn dropdown-btn dropdown-toggle w-100 state-btn" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false" disabled>
                                    State
                                </button>
                                <ul class="dropdown-menu state-dropdown">
                                </ul>
                            </div>
                        </div>

                        <div class="col-6">
                            <input class="form-control postal-code-input" pattern="[0-9]+" maxlength="12"
                                name="postal_code" placeholder="Postal code" inputmode="numeric"
                                oninput="this.value = this.value.replace(/\D+/g, '')" required>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary w-25" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary w-25" onclick="addAddress()">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Billing -->
<div class="modal fade add-card-modal" id="addCard" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="addCardLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <form method="POST" action="/me/card/add/">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addCardLabel">Add new payment method</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="container">
                    <div class="row p-2 pt-4">
                        <div class="col-8">
                            Card number
                            <span class="text-danger d-none wrong-card-alert position-absolute">
                                <small>
                                    <i>*We only accept Visa or Mastercard</i>
                                </small>
                            </span>
                        </div>
                        <div class="col-4"></div>
                        <div class="col-8">
                            <input class="form-control" pattern="[0-9]{4} [0-9]{4} [0-9]{4} [0-9]{4}" name="card_number"
                                placeholder="1234 1234 1234 1234" inputmode="numeric" oninput="editCardNumber(this)"
                                maxlength="19" required>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col-6 visa-logo rounded d-flex align-items-center justify-content-center">
                                    <img src="{% static 'images/Visa_Brandmark_Blue_RGB_2021.png' %}"
                                        class="img-fluid p-1" alt="visa-logo">
                                </div>
                                <div
                                    class="col-6 mastercard-logo rounded d-flex align-items-center justify-content-center">
                                    <img src="{% static 'images/mc_symbol_opt_73_3x.png' %}" class="img-fluid"
                                        alt="mastercard-logo">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row p-2">
                        <div class="col-7">Expiration date</div>
                        <div class="col-5">CVV/CVC</div>

                        <div class="col-7">
                            <input class="form-control" name="expiration_date" placeholder="MM/YY" maxlength="5"
                                inputmode="numeric" oninput="editExpireDate(this)" required>
                        </div>

                        <div class="col-5">
                            <input class="form-control" name="cvc" placeholder="Security code" maxlength="4"
                                placeholder="Postal code" inputmode="numeric"
                                oninput="this.value = this.value.replace(/\D+/g, '')" required>
                        </div>
                    </div>

                    <div class="row p-2 pb-4">
                        <div class="col-12">Name on the card</div>
                        <div class="col-12">
                            <input class="form-control" type="text" name="cardholder_name" placeholder="Name"
                                oninput="preventFirstSpace(this)" required>
                        </div>
                    </div>

                    <input type="hidden" class="form-control card_type" name="card_type">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary w-25" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary w-25 add-card-btn" disabled>Add</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    var names = {{ names| js }};
    var phones = {{ phones| js }};

    function enableState(country) {
        var stateBtn = document.querySelector(".state-btn");
        stateBtn.setAttribute("disabled", "");
        stateBtn.innerHTML = "State";
        allowStateSelect(country);
    }

    function choseCountry(country, name) {
        document.querySelector(".country-btn").innerHTML = name;
        document.querySelector(".country_input").value = name;

        document.querySelector(".phone_number_code-btn").innerHTML = phones[country];
        document.querySelector(".phone_number_code_input").value = phones[country];

        enableState(country);

    }

    function choseNumberCode(country, code) {
        document.querySelector(".phone_number_code-btn").innerHTML = code;
        document.querySelector(".phone_number_code_input").value = code;

        document.querySelector(".country-btn").innerHTML = names[country];
        document.querySelector(".country_input").value = names[country];

        enableState(country);
    }

    function allowStateSelect(country) {
        fetch('/states/get/' + country, {
            method: 'POST'
        })
            .then(response => response.json())
            .then(states => {
                var dropDown = document.querySelector(".state-dropdown");
                dropDown.innerHTML = '';

                var inputli = document.createElement("li");
                var inputFilter = document.createElement("input");
                inputFilter.classList.add("form-control");
                inputFilter.classList.add("state");
                inputFilter.type = "text";
                inputFilter.setAttribute("onkeyup", "filterState()");
                inputli.appendChild(inputFilter);
                dropDown.appendChild(inputli);

                states.sort().forEach(state => {
                    var liTag = document.createElement("li");
                    var aTag = document.createElement("a");
                    aTag.classList.add("dropdown-item");
                    aTag.href = "#";
                    aTag.setAttribute("onclick", "choseState('" + state + "')");
                    aTag.innerHTML = state
                    liTag.appendChild(aTag);
                    dropDown.appendChild(liTag);
                })

                document.querySelector(".state-btn").removeAttribute("disabled");
            })
    }
</script>