{% include "partials/header.html" %}

<div class="dummy"></div>

<div class="container add-pd-page rounded shadow-sm p-5">
    <div class="heading">
        <h3>Basic information</h3>
    </div>

    <form method="POST" action="/product/add/" enctype="multipart/form-data">

        <div class="row mt-4">
            <div class="col-3 d-flex align-items-center">Product's images</div>
            <div class="col-9">
                <div class="input-group">
                    <label class="input-group-text" for="image-upload">Upload</label>
                    <input name="product-img" type="file" class="form-control product-img" id="image-upload"
                        accept='image/*' onchange="addImg(this)" required>
                </div>
            </div>
            <div class="col-12 mt-4">
                <input type="hidden" class="img-range" name="img-range" value="0">
                <div class="row preview-img">
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-3 d-flex align-items-center">Product's name</div>
            <div class="col-9">
                <div class="form-floating">
                    <input type="text" class="form-control" name="pd-name" placeholder="Product name" required>
                    <label for="pd-name">Name</label>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-3 d-flex align-items-center">Product's price</div>
            <div class="col-9">
                <div class="form-floating">
                    <input type="text" class="form-control" name="pd-price" placeholder="Product price" required>
                    <label for="pd-price">$Price</label>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-3 d-flex align-items-center">Product's category</div>
            <div class="col-4">
                <div class="form-floating">
                    <select name="pd-category" class="form-select" id="floatingSelect" onchange="editCategory(this)"
                        required>
                        {% for category in categories %}
                        <option value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                        <option value="other">Other...</option>
                    </select>
                    <label for="floatingSelect">Select exist category</label>
                </div>
            </div>
            <div class="col-4">
                <div class="form-floating">
                    <input name="pd-new-category" type="text" class="form-control pd-category" id="pd-category"
                        placeholder="Product category" disabled>
                    <label for="pd-category">Create new category</label>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-3 mt-4">Product's description</div>
            <div class="col-9">
                <div class="form-floating">
                    <textarea name="pd-description" class="form-control" placeholder="Product description"
                        id="floatingTextarea2" style="height: 400px"></textarea>
                    <label for="floatingTextarea2">Description</label>
                </div>
            </div>
        </div>

        <div class="mt-5 d-flex justify-content-end">
            <div>
                <button type="button" class="btn btn-secondary">Cancel</button>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>

    </form>
</div>

{% include "partials/footer.html" %}