{% load static %}

{% load math %}

{% include "partials/header.html" %}

<div class="dummy"></div>

<div class="container-fluid listing-page">
    <div class="row">

        <div class="d-flex d-md-none position-fixed z-3">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle reset-btn w-100" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Filter
                </button>
                <ul class="dropdown-menu dropdown-menu-center filter-mobile-ul">
                    {% include "product/common/listing-nav.html" %}
                </ul>
            </div>
        </div>

        <div class="Navigation-Bar col-md-3 col-xl-2 d-none d-md-flex flex-column align-items-center">
            <ul class="mt-1 nav-list" data-aos="fade-up" data-aos-delay="200">
                {% include "product/common/listing-nav.html" %}
            </ul>
        </div>

        {% include "product/common/product-listing.html" %}

    </div>

    <div>
        <nav class="listing-nav">
            {% if not active_filter %}

            {% if active_page %}
            {% for i in page_range %}
            {% if active_page|to_int == i %}
            <button class="btn active" onclick="window.location.href='?page={{ i }}'">{{ i }}</button>
            {% else %}
            <button class="btn" onclick="window.location.href='?page={{ i }}'">{{ i }}</button>
            {% endif %}
            {% endfor %}

            {% elif active_page is None %}
            {% for i in page_range %}
            {% if i == 1 %}
            <button class="btn active" onclick="window.location.href='?page={{ i }}'">{{ i }}</button>
            {% else %}
            <button class="btn" onclick="window.location.href='?page={{ i }}'">{{ i }}</button>
            {% endif %}
            {% endfor %}

            {% endif %}

            {% endif %}
        </nav>
    </div>

</div>


{% include "partials/footer.html" %}