{% load static %}

{% load math %}

{% include "partials/header.html" %}

<div class="dummy"></div>

<div class="container-fluid listing-page">
    <div class="row">

        <div class="Navigation-Bar col-4 col-md-3 col-lg-2 d-flex flex-column align-items-center">
            <nav class="breadcrumb" data-aos="fade-up">
                {% if active_filter %}
                <a href="/products" class="breadcrumbs-item">Products</a>
                <a class="breadcrumbs-item is-active">Categories</a>
                {% else %}
                <a href="/products" class="breadcrumbs-item">Products</a>
                <a class="breadcrumbs-item">Categories</a>
                {% endif %}
            </nav>

            <nav class="mt-1" data-aos="fade-up" data-aos-delay="200">
                <ul class="nav-list">
                    <li class="nav-list-styling">
                        <label for="min-price" class="form-label">Min price: </label>
                        {% if min_filter %}
                        <span class="min-price-txt">${{ min_filter }}</span>
                        <input type="range" class="form-range min-price" id="min-price" name="min-price" min="0"
                            max="{{ min_price }}" step="0.01" value="{{ min_filter }}" oninput="editMinPrice(this)">
                        {% else %}
                        <span class="min-price-txt">$0</span>
                        <input type="range" class="form-range min-price" id="min-price" name="min-price" min="0"
                            max="{{ min_price }}" step="0.01" value="0" oninput="editMinPrice(this)">
                        {% endif %}
                    </li>

                    <li class="nav-list-styling">
                        <label for="max-price" class="form-label">Max price: </label>
                        {% if max_filter %}
                        <span class="max-price-txt">${{ max_filter }}</span>
                        <input type="range" class="form-range max-price" id="max-price" name="max-price" min="1"
                            max="{{ max_price }}" step="0.01" value="{{ max_filter }}" oninput="editMaxPrice(this)">
                        {% else %}
                        <span class="max-price-txt">${{ max_price }}</span>
                        <input type="range" class="form-range max-price" id="max-price" name="max-price" min="1"
                            max="{{ max_price }}" step="0.01" value="{{ max_price }}" oninput="editMaxPrice(this)">
                        {% endif %}
                    </li>

                    <li class="nav-list-styling mb-4">
                        <button class="btn btn-secondary reset-btn" onclick="resetFilterPrice()">Reset</button>
                        {% if not min_filter or not active_filter %}
                        {% if not active_filter %}
                        <button class="btn btn-primary submit-btn" onclick="submitFilterPrice()">Submit</button>
                        {% endif %}
                        {% endif %}
                    </li>

                    {% for category in categories %}
                    <li class="nav-list-styling">
                        {% if active_filter == category %}
                        <input class="form-check-input category-checkbox" type="checkbox" id="{{ category }}"
                            name="filterCategory" value="{{ category }}" onclick="filterCategory(this)" checked>
                        {% else %}
                        <input class="form-check-input category-checkbox" type="checkbox" id="{{ category }}"
                            name="filterCategory" value="{{ category }}" onclick="filterCategory(this)">
                        {% endif %}
                        <label class="form-check-label" for="{{ category }}">{{ category }}</label>
                    </li>
                    {% endfor %}

                </ul>
            </nav>
        </div>

        <div class="Product-Listing-Cards col-8 col-md-9 col-lg-10" data-aos="fade-up">
            <div class="row d-flex justify-content-center">
                {% if products %}
                {% for product in products %}
                <div class="col-10 col-md-5 col-lg-3 col-xl-2 m-2 card pd-card">
                    <input type="hidden" class="pd-category" value="{{ product.category }}">
                    <a href="/product/{{ product.id }}">
                        <div class="card-image">
                            <img src="{% static 'images/products/' %}{{ product.images.0 }}" alt="Product Image">
                        </div>
                        <div class="card-content">
                            <div class="card-title">{{ product.name }}</div>
                            <div class="card-price">${{ product.price }}</div>
                        </div>
                    </a>
                </div>
                {% endfor %}
                {% else %}
                <div class="col-11 no-products rounded shadow-sm text-center" data-aos="fade-up">
                    <h3>No products found</h3>
                </div>
                {% endif %}
            </div>
        </div>

    </div>

    <div>
        <nav class="listing-nav">
            {% if not active_filter %}

            {% if active_page %}
            {% for i in page_range %}
            {% if active_page|to_int == i %}
            <button class="btn active" onclick="window.location.href='?page={{ i }}'">{{ i }}</button>
            {% else %}
            <button class="btn" onclick="window.location.href='?page={{ i }}'">{{ i }}</button>
            {% endif %}
            {% endfor %}

            {% elif active_page is None %}
            {% for i in page_range %}
            {% if i == 1 %}
            <button class="btn active" onclick="window.location.href='?page={{ i }}'">{{ i }}</button>
            {% else %}
            <button class="btn" onclick="window.location.href='?page={{ i }}'">{{ i }}</button>
            {% endif %}
            {% endfor %}

            {% endif %}

            {% endif %}
        </nav>
    </div>

</div>


{% include "partials/footer.html" %}