{% load static %}

{% include "partials/header.html" %}

<div class="dummy"></div>

<div class="modal fade rating-modal" id="ratingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="ratingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ratingModalLabel">Leave a Review</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/product/review/{{ product_id }}" method="POST">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row review-row rating p-2">
                            <div class="col-2 author-avatar">
                                {% if user.avatar %}
                                <img src="{% static 'images/avatar/' %}{{ user.avatar }}"
                                    class="img-fluid rounded-circle" alt="review-author-avatar">
                                {% else %}
                                <img src="{% static 'images/avatar/default.jpg' %}" class="img-fluid rounded-circle"
                                    alt="review-author-avatar">
                                {% endif %}
                            </div>
                            <div class="col-10 author-name d-flex align-items-center">
                                <h4>{{ user.name }}</h4>
                            </div>
                            <div class="col-4 d-flex align-items-center">
                                Product's quality
                            </div>
                            <div class="col-8 review-rating">
                                <div class="rating">
                                    <label>
                                        <input type="radio" name="stars" value="1">
                                        <span class="icon">★</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="stars" value="2">
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="stars" value="3">
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="stars" value="4">
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="stars" value="5">
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 review-content">
                                <textarea class="form-control" id="review-content" rows="3" name="content"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add Review</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container product-container rounded shadow-sm">
    <div class="single-product">
        <div class="row">

            {% include "product/common/images.html" %}

            <div class="col-12 col-md-6 pd-info-right">

                <div class="row d-flex justify-content-between" data-aos="fade-up">
                    <div class="col">
                        <div class="breadcrumb">
                            <a href="/products" class="breadcrumbs-item">Products</a>
                            <a href="/products/?filter={{ category }}" class="breadcrumbs-item is-active">
                                {{ category }}</a>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-end">
                        {% if is_wishlist %}
                        <form method="POST" action="/wishlist/remove/{{ product_id }}">
                            <button type="submit" class="btn btn-danger">
                                <i class="bi bi-heart-fill"></i>
                            </button>
                        </form>
                        {% else %}
                        <form method="POST" action="/wishlist/add/{{ product_id }}">
                            <button type="submit" class="btn btn-outline-secondary">
                                <i class="bi bi-heart"></i>
                            </button>
                        </form>
                        {% endif %}
                    </div>
                </div>

                {% include "product/common/info.html" %}

                {% if type != "V" %}
                <div class="row mt-5 pd-action" data-aos="fade-up" data-aos-delay="600">
                    <div class="col-3 pt-1 text-end">
                        <span class="quantity-text">Quantity: </span>
                    </div>
                    <div
                        class="col-9 col-sm-6 col-lg-5 col-xl-4 pd-quantity-input d-flex flex-row justify-content-center align-items-center">
                        {% if stock == 0 %}
                        <div class="input-group d-flex flex-row">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number" disabled>
                                    <i class="bi bi-dash"></i>
                                </button>
                            </div>

                            <input type="number" step="any" name="quant[1]" style="text-align:center;"
                                class="text-center form-control input-number pd-quantity-input-box-{{ product_id }}"
                                value="1" min="1" disabled>

                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number" disabled>
                                    <i class="bi bi-plus"></i>
                                </button>
                            </div>
                        </div>
                        {% else %}
                        <div class="input-group d-flex flex-row">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number"
                                    onclick="editQuantity('{{ product_id }}', 'remove', 1, true, true)">
                                    <i class="bi bi-dash"></i>
                                </button>
                            </div>

                            <input type="number" step="any" name="quant[1]" style="text-align:center;"
                                class="text-center form-control input-number pd-quantity-input-box-{{ product_id }}"
                                value="1" min="1" onfocus="this.oldvalue = this.value;"
                                oninput="editQuantity('{{ product_id }}', 'edit', 1, true);this.oldvalue = this.value;">

                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number"
                                    onclick="editQuantity('{{ product_id }}', 'add', 1, true)">
                                    <i class="bi bi-plus"></i>
                                </button>
                            </div>
                        </div>
                        {% endif %}
                    </div>

                    <div class="col-12">
                        <div class="row buttons mt-5 d-flex justify-content-center">
                            <div class="col-5 col-md-5">
                                {% if stock == 0 %}
                                <button type="button" class="btn btn-outline-secondary add-cart-btn anm-btn w-100"
                                    disabled>
                                    <span>Add to Cart</span>
                                </button>
                                {% else %}
                                <button type="button" onclick="addToCart('{{ product_id }}', true)"
                                    class="btn btn-outline-secondary add-cart-btn anm-btn w-100">
                                    <span class="add-to-cart-text">Add to Cart</span>
                                    <span class="added">Added</span>
                                    <i class="bi bi-cart-fill"></i>
                                    <i class="bi bi-box-seam-fill"></i>
                                </button>
                                {% endif %}
                            </div>
                            <div class="col-5 col-md-5">
                                {% if stock == 0 %}
                                <button type="button" class="btn btn-primary buy-now-btn anm-btn w-100" disabled>
                                    <span>Buy Now</span>
                                </button>
                                {% else %}
                                <form class="checkout-form" method="POST" action="/checkout/">
                                    <input type="hidden" id="mode" name="mode" value="buy_now">
                                    <input type="hidden" id="product_id" name="product_id" value="{{ product_id }}">
                                    <input type="hidden" class="checkout-quantity" id="quantity" name="quantity">
                                    <button type="button" onclick="checkOutProduct('{{ product_id }}')"
                                        class="btn btn-primary buy-now-btn anm-btn w-100">
                                        <span>Buy Now</span>
                                    </button>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>

        {% include "product/common/description.html" %}

    </div>
</div>

<div class="container vendor-container rounded shadow-sm mt-4" data-aos="fade-up">
    <div class="row p-4">
        <div class="col-2">
            {% if vendor_avatar %}
            <img src="{% static 'images/avatar/' %}{{ vendor_avatar }}" class="img-fluid rounded-circle"
                alt="vendor-avatar">
            {% else %}
            <img src="{% static 'images/avatar/default.jpg' %}" class="img-fluid rounded-circle" alt="vendor-avatar">
            {% endif %}
        </div>
        <div class="col-10 d-flex flex-column justify-content-center">
            <div>
                <h3 class="vendor-name">{{ vendor_name }}</h3>
                <a class="btn btn-primary view-more-btn mt-2" href="/products/vendor/{{ vendor_username }}">View
                    More</a>
            </div>
        </div>
    </div>
</div>

<div class="container review-container rounded shadow-sm mt-4" data-aos="fade-up">
    {% if first_review %}
    <div class="row review-row p-4">
        <div class="col-1 author-avatar d-flex align-items-center">
            {% if first_review.author.avatar %}
            <img src="{% static 'images/avatar/' %}{{ first_review.author.avatar }}" class="img-fluid rounded-circle"
                alt="review-author-avatar">
            {% else %}
            <img src="{% static 'images/avatar/default.jpg' %}" class="img-fluid rounded-circle"
                alt="review-author-avatar">
            {% endif %}
        </div>
        <div class="col-11 author-name d-flex flex-column justify-content-center">
            <h4>{{ first_review.author.name }}</h4>
            {% if first_review.rating == 1 %}
            <span class="icon">★</span>
            {% elif first_review.rating == 2 %}
            <span class="icon">★★</span>
            {% elif first_review.rating == 3 %}
            <span class="icon">★★★</span>
            {% elif first_review.rating == 4 %}
            <span class="icon">★★★★</span>
            {% elif first_review.rating == 5 %}
            <span class="icon">★★★★★</span>
            {% endif %}
            <p>{{ first_review.date }}</p>
        </div>
        <div class="col-12 review-content">
            <p>{{ first_review.content }}</p>
        </div>
    </div>
    {% endif %}

    {% if reviews %}
    <div class="text-center border-top border-bottom p-2 view-more-section mb-4">
        <a class="" role="button" data-bs-toggle="collapse" href="#reviewCollapse" onclick="toggleReview(this)">
            <input class="current" type="hidden" value="off">
            <span class="text">View more</span><span class="icon" style="margin-left: 5px;"><i
                    class="bi bi-chevron-down"></i></span>
        </a>
    </div>
    <div class="collapse review-collapse mb-5" id="reviewCollapse">
        <div class="card card-body">
            {% for review in reviews %}
            <div class="row review-row p-2">
                <div class="col-1 author-avatar d-flex align-items-center">
                    {% if review.author.avatar %}
                    <img src="{% static 'images/avatar/' %}{{ review.author.avatar }}" class="img-fluid rounded-circle"
                        alt="review-author-avatar">
                    {% else %}
                    <img src="{% static 'images/avatar/default.jpg' %}" class="img-fluid rounded-circle"
                        alt="review-author-avatar">
                    {% endif %}
                </div>

                <div class="col-11 author-name d-flex flex-column justify-content-center">
                    <h4>{{ review.author.name }}</h4>
                    {% if review.rating == 1 %}
                    <span class="icon">★</span>
                    {% elif review.rating == 2 %}
                    <span class="icon">★★</span>
                    {% elif review.rating == 3 %}
                    <span class="icon">★★★</span>
                    {% elif review.rating == 4 %}
                    <span class="icon">★★★★</span>
                    {% elif review.rating == 5 %}
                    <span class="icon">★★★★★</span>
                    {% endif %}
                    <p>{{ review.date }}</p>
                </div>

                <div class="col-12 review-content">
                    <p>{{ review.content }}</p>
                </div>

                {% if not forloop.last %}
                <div class="col-12 border-bottom"></div>
                {% endif %}

            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if not first_review %}
    <div class="no-review text-center p-5">
        <h3>No reviews yet</h3>
    </div>
    {% endif %}

    {% if allow_review %}
    <div class="text-center pb-5">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ratingModal">
            Add Review
        </button>
    </div>
    {% endif %}
</div>

{% if related_products %}
<div class="container related-products mt-4 rounded shadow-sm" data-aos="fade-up">
    <div class="small-container img-fluid">
        <div class="row row-2">
            <h2>Related Products</h2>
        </div>

        <div class="row d-flex justify-content-around align-items-center mt-3">

            {% for product in related_products %}
            <div class="card pd-card m-2">
                <input type="hidden" class="pd-category" value="{{ product.category }}">
                <a href="/product/{{ product.id }}">
                    <div class="card-image">
                        <img src="{% static 'images/products/' %}{{ product.images.0 }}" alt="Product Image">
                    </div>
                    <div class="card-content">
                        <div class="card-title">{{ product.name }}</div>
                        <div class="card-price">${{ product.price }}</div>
                    </div>
                </a>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endif %}

{% include "partials/footer.html" %}