{% load static %}

{% include "partials/header.html" %}

<div class="dummy"></div>

<div class="container add-pd-page rounded shadow-sm p-5">
    <div class="heading">
        <h3>Basic information</h3>
    </div>

    <form method="POST" action="/product/update/{{ id }}" enctype="multipart/form-data">

        <div class="row mt-4">
            <div class="col-3 d-flex align-items-center">Images</div>
            <div class="col-9">
                <div class="input-group">
                    <label class="input-group-text" for="image-upload">Upload</label>
                    <input name="product-img" type="file" class="form-control product-img" id="image-upload"
                        accept='image/*' oninput="addImg(this)">
                </div>
            </div>
            <div class="col-12 mt-4">
                <input type="hidden" class="img-range" name="img-range" value="{{ img_range }}">
                <div class="row preview-img">

                    {% for i, image in img_range_images %}
                    <div class="col-2 d-flex justify-content-center align-items-center position-relative">
                        <button class="btn btn-primary del-col-btn position-absolute"
                            onclick="removeImg(this.parentElement)">
                            X
                        </button>
                        <img src="{% static 'images/products/' %}{{ image }}" alt="preview image"
                            class="img-fluid rounded">
                        <input type="text" class="d-none img-input-hidden" name="preview-img-{{ i }}"
                            value="{{ image }}">
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-3 d-flex align-items-center">Name</div>
            <div class="col-9">
                <div class="form-floating">
                    <input type="text" class="form-control" name="pd-name" placeholder="Product name" value="{{ name }}"
                        required>
                    <label for="pd-name">Name</label>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-3 d-flex align-items-center">Price</div>
            <div class="col-9">
                <div class="form-floating">
                    <input type="number" class="form-control" name="pd-price" placeholder="Product price"
                        value="{{ price }}" required>
                    <label for="pd-price">$Price</label>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-3 d-flex align-items-center">Stock</div>
            <div class="col-9">
                <div class="form-floating">
                    <input type="number" class="form-control" name="pd-stock" placeholder="Product stokc"
                        value="{{ stock }}">
                    <label for="pd-price">Quantity</label>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-3 d-flex align-items-center">Category</div>
            <div class="col-4">
                <div class="form-floating">
                    <select name="pd-category" class="form-select" id="floatingSelect" oninput="editCategory(this)"
                        required>
                        <option value="{{ pd_category }}">{{ pd_category }}</option>
                        {% for category in categories %}
                        {% if category != pd_category %}
                        <option value="{{ category }}">{{ category }}</option>
                        {% endif %}
                        {% endfor %}
                        <option value="other">Other...</option>
                    </select>
                    <label for="floatingSelect">Select exist category</label>
                </div>
            </div>
            <div class="col-4">
                <div class="form-floating">
                    <input name="pd-new-category" type="text" class="form-control pd-category" id="pd-category"
                        placeholder="Product category" disabled>
                    <label for="pd-category">Create new category</label>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-3 mt-4">Description</div>
            <div class="col-9">
                <div class="form-floating">
                    <textarea name="pd-description" class="form-control" placeholder="Product description"
                        id="floatingTextarea2" style="height: 400px">{{ description }}</textarea>
                    <label for="floatingTextarea2">Description</label>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col"></div>
            <div class="col d-flex justify-content-end gap-2">
                <a href="/product/{{ id }}" type="button" class="btn btn-secondary w-25 del-btn">Cancel</a>
                <button type="submit" class="btn btn-primary w-25 buy-now-btn">Save</button>
            </div>
        </div>

    </form>
</div>

{% include "partials/footer.html" %}