{% load static %}

{% include "partials/header.html" %}

<div class="container cart-page mt-4 mb-4">
    {% if products_by_vendor is not None %}
    {% for vendor_id, vendor in products_by_vendor.items %}
    <div class="row rounded cart-container mb-4 shadow-sm">
        <div class="vendorname mb-3 border-bottom">
            <a href="/products/vendor/{{ vendor.vendor.username }}" class="text-decoration-none text-reset">
                <span class="text">
                    <i class="bi bi-shop-window"></i>
                    {{ vendor.vendor.name }}
                    <i class="bi bi-chevron-right"></i>
                </span>
            </a>
        </div>

        {% for cart_product in vendor.cart_products %}
        <div class="row vendor-products">
            <div class="col pd-img d-flex justify-content-center align-items-center mb-3">
                <a href="/product/{{ cart_product.product.id }}" class="text-decoration-none text-reset">
                    <img class="img-fluid" src="{% static 'images/products/' %}{{ cart_product.product.images.0 }}"
                        alt="product-img">
                </a>
            </div>

            <div class="col-8 col-md-9 pd-info d-flex justify-content-center mb-3">
                <div class="col pd-name text-start">
                    <a href="/product/{{ cart_product.product.id }}" class="text-decoration-none text-reset">
                        {{ cart_product.product.name }}
                    </a>
                </div>

                <div class="col pd-price text-center">
                    $
                    <span class="pd-price-{{ cart_product.product.id }}">
                        {{ cart_product.product.price }}
                    </span>
                </div>

                <div class="col-8 col-md-4 col-lg-3 pd-quantity">
                    <div class="pd-quantity-input">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number"
                                    onclick="editQuantity('{{ cart_product.product.id }}', 'remove', 1)">
                                    <i class="bi bi-dash"></i>
                                </button>
                            </div>

                            <input type="number" step="any" name="quant[1]"
                                class="form-control input-number pd-quantity-input-box-{{ cart_product.product.id }}"
                                value="{{ cart_product.quantity }}" min="1" onfocus="this.oldvalue = this.value;"
                                onchange="editQuantity('{{ cart_product.product.id }}', 'edit');this.oldvalue = this.value;">

                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number"
                                    onclick="editQuantity('{{ cart_product.product.id }}', 'add', 1)">
                                    <i class="bi bi-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col pd-total-price d-none d-lg-block text-center">
                    $
                    <span class="pd-total-price-{{ cart_product.product.id }}">
                        {% widthratio cart_product.product.price 1 cart_product.quantity %}
                    </span>
                </div>
            </div>

            <div class="col-1 pd-remove d-none d-lg-flex justify-content-center align-items-center mb-3">
                <button class="btn anm-btn pd-remove-btn"
                    onclick="editQuantity('{{ cart_product.product.id }}', 'remove', 'all')">Remove</button>
            </div>
            <hr>
        </div>
        {% endfor %}
        {% endfor %}
    </div>
    {% else %}
    <div class="row rounded cart-container empty-cart text-center">
        <h1>You haven't add any products to your cart yet.</h1>
    </div>
    {% endif %}
</div>

<div class="container place-order-container shadow-sm mb-4">
    <form action="/order" method="POST">
        <div class="row place-order-wrapper rounded d-flex justify-content-center">
            <div class="col"></div>

            <div class="col d-flex flex-row justify-content-center align-items-center gap-4">
                <div class="cart-total-price">
                    Total: <span class="dolar">$</span>
                    <span class="total-price">
                        {{ total_price }}
                    </span>
                </div>

                <div class="place-order">
                    <button type="submit" class="btn btn-primary anm-btn place-order-btn">
                        <span>Place Order</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

{% include "partials/footer.html" %}