{% include "partials/header.html" %}

<div class="container p-5 checkout-page mt-4">
  <div class="row">
    <div class="d-flex justify-content-center">
      <h1>Checkout</h1>
    </div>

    <!-- Address -->
    <div class="address mt-4">
      <h3>Address</h3>
      <div class="container p-3 border border-light rounded">
        <form action="/">
          <label for="address">Enter the address:</label>
          <input type="text" id="address" name="address" />
          <input type="submit" value="Save" />
        </form>
      </div>
    </div>

    <!-- Phone Number -->
    <div class="phone mt-4">
      <h3>Phone number</h3>
      <div class="container p-3 border border-light rounded">
        <form action="/">
          <label for="phone">Enter the phone number:</label>
          <input type="text" id="phone" name="phone" />
          <input type="submit" value="Save" />
        </form>
      </div>
    </div>

    <!-- Product -->
    <div class="product mt-4">
      <h3>Product</h3>
      <div class="container">
        <div class="row">
          <div
            class="col-8 col-sm-6 bg-secondary text-light d-flex align-items-center justify-content-left border border-light border-left">
            Name
          </div>
          <div
            class="col-1 col-sm-2 bg-secondary text-light d-flex align-items-center justify-content-center border border-light border-left">
            Price
          </div>
          <div
            class="col-1 col-sm-2 bg-secondary text-light d-flex align-items-center justify-content-center border border-light border-left">
            Quantity
          </div>
          <div
            class="col-2 col-sm-2 bg-secondary text-light d-flex align-items-center justify-content-center border border-light border-left">
            Total
          </div>
        </div>
        <div class="row">
          <div
            class="col-8 col-sm-6 bg-white text-dark d-flex align-items-center justify-content-left border border-light border-left">
            1
          </div>
          <div
            class="col-1 col-sm-2 bg-white text-dark d-flex align-items-center justify-content-center border border-light border-left">
            2
          </div>
          <div
            class="col-1 col-sm-2 bg-white text-dark d-flex align-items-center justify-content-center border border-light border-left">
            3
          </div>
          <div
            class="col-2 col-sm-2 bg-white text-dark d-flex align-items-center justify-content-center border border-light border-left">
            4
          </div>
        </div>
      </div>
    </div>

    <!-- Voucher -->
    <div class="voucher mt-4">
      <h3>Voucher</h3>
      <div class="container p-3 border border-light rounded">
        <form action="/">
          <label for="coupon">Enter the coupon:</label>
          <input type="text" id="coupon" name="coupon" />
          <input type="submit" value="Submit" />
        </form>
      </div>
    </div>

    <!-- Payment Methods -->
    <div class="methods mt-4">
      <h3>Payment methods</h3>
      <div class="container p-3 border border-light rounded">
        <label for="payment">Choose a payment methods:</label>
        <select id="payment">
          <option value="cash">On cash</option>
          <option value="credit">Credit card</option>
        </select>
      </div>
    </div>

    <!-- Set order button -->
    <div class="container mt-4">
      <div class="row justify-content-end">
        <div class="col-2">
          <input type="submit" value="Set order" />
        </div>
      </div>
    </div>

  </div>
</div>

{% include "partials/footer.html" %}