{% load static %}

{% load math %}

{% include "partials/header.html" %}

<div class="dummy"></div>

{% include "partials/add-modal.html" %}

<div class="container checkout-page">
    <div class="row child-container rounded shadow-sm p-4">
        <div class="text-center">
            <h3>Checkout</h3>
        </div>

        <!-- Address -->
        <div class="text-center mt-2">
            <h4>Address</h4>
        </div>
        {% if address %}
        <div class="col-12">
            <div class="row p-2">
                <div class="col-2 text-end pt-1">Phone number</div>
                <div class="col-4">
                    {% if '+' not in address.phone_number_code %}
                    <input class="form-control" type="text"
                        value="(+{{ address.phone_number_code }}) {{ address.phone_number }}" readonly>
                    {% else %}
                    <input class="form-control" type="text"
                        value="({{ address.phone_number_code }}) {{ address.phone_number }}" readonly>
                    {% endif %}
                </div>
                <div class="col-2 text-end pt-1">Country</div>
                <div class="col-4">
                    <input class="form-control" type="text" value="{{ address.country }}" readonly>
                </div>
            </div>

            <div class="row p-2">
                <div class="col-2 text-end pt-1">Address</div>
                <div class="col-4">
                    <input class="form-control" type="text" value="{{ address.address }}" readonly>
                </div>
                <div class="col-2 text-end pt-1">City</div>
                <div class="col-4">
                    <input class="form-control" type="text" value="{{ address.city }}" readonly>
                </div>
            </div>

            <div class="row p-2">
                <div class="col-2 text-end pt-1">State</div>
                <div class="col-4">
                    <input class="form-control" type="text" value="{{ address.state }}" readonly>
                </div>
                <div class="col-2 text-end pt-1">Postal code</div>
                <div class="col-4">
                    <input class="form-control" type="text" value="{{ address.postal_code }}" readonly>
                </div>
            </div>
        </div>
        {% else %}
        <div class="text-center">
            <button type="button" class="btn btn-primary m-3 mb-4" data-bs-toggle="modal" data-bs-target="#addAddress">
                Add address
            </button>
        </div>
        {% endif %}
    </div>

    <!-- Product -->
    {% for vendor_id, vendor in products_by_vendor.items %}
    <div class="row rounded cart-container mt-4 shadow-sm">
        <div class="vendorname border-bottom p-3">
            <a href="/products/vendor/{{ vendor.vendor.username }}" class="text-decoration-none text-reset">
                <span class="text">
                    <i class="bi bi-shop-window"></i>
                    {{ vendor.vendor.name }}
                    <i class="bi bi-chevron-right"></i>
                </span>
            </a>
        </div>

        {% for cart_product in vendor.cart_products %}
        <div class="row vendor-products p-3">
            <div class="col pd-img d-flex justify-content-center align-items-center mb-3">
                <a href="/product/{{ cart_product.product.id }}" class="text-decoration-none text-reset">
                    <div class="image">
                        <img class="img-fluid" src="{% static 'images/products/' %}{{ cart_product.product.images.0 }}"
                            alt="product-img">
                    </div>
                </a>
            </div>

            <div class="col-8 col-md-9 pd-info d-flex align-items-center mb-3">
                <div class="col pd-name text-start">
                    <a href="/product/{{ cart_product.product.id }}" class="text-decoration-none text-reset">
                        {{ cart_product.product.name }}
                    </a>
                </div>

                <div class="col pd-price text-center">
                    $
                    <span class="pd-price-{{ cart_product.product.id }}">
                        {{ cart_product.product.price }}
                    </span>
                </div>

                <div class="col-1 pd-quantity">
                    <div class="pd-quantity-input">
                        <div class="input-group">
                            <input
                                class="text-center form-control input-number pd-quantity-input-box-{{ cart_product.product.id }}"
                                value="x{{ cart_product.quantity }}" disabled>
                        </div>
                    </div>
                </div>

                <div class="col pd-total-price d-none d-lg-block text-center">
                    $
                    <span class="pd-total-price-{{ cart_product.product.id }}">
                        {{ cart_product.product.price|products_price:cart_product.quantity }}
                    </span>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endfor %}

    <div class="row child-container rounded shadow-sm mt-4 p-4">
        <!-- Payment Methods -->
        <div class="methods">
            <h4>Payment method</h4>
        </div>
        {% if card %}
        <div class="col-8">
            <div class="row p-2">
                {% if card.card_type == "VISA" %}
                <div class="col-2 visa-logo rounded d-flex align-items-center justify-content-center">
                    <img src="{% static 'images/Visa_Brandmark_Blue_RGB_2021.png' %}" class="img-fluid p-1"
                        alt="visa-logo">
                </div>
                <div class="col-10 d-flex align-items-center">
                    <div class="row">
                        <div class="col-12">Visa ending in {{ card.card_number }}</div>
                        <div class="col-12">Expires {{ card.expiration_date }}</div>
                    </div>
                </div>

                {% elif card.card_type == "MC" %}
                <div class="col-2 mastercard-logo rounded d-flex align-items-center justify-content-center">
                    <img src="{% static 'images/mc_symbol_opt_73_3x.png' %}" class="img-fluid" alt="mastercard-logo">
                </div>
                <div class="col-10 d-flex align-items-center">
                    <div class="row">
                        <div class="col-12">Mastercard ending in {{ card.card_number }}</div>
                        <div class="col-12">Expires {{ card.expiration_date }}</div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% else %}
        <div class="col-8 text-start">
            <button type="button" class="btn btn-primary m-3 mb-4" data-bs-toggle="modal" data-bs-target="#addCard">
                Add new card
            </button>
        </div>
        {% endif %}

        <!-- Place order button -->
        <div class="col-4 text-center">
            <form method="POST" action="/order/place/">
                <button type="submit" class="btn btn-primary anm-btn place-order-btn">
                    <span>Place Order</span>
                </button>
            </form>
        </div>

    </div>
</div>

{% include "partials/footer.html" %}