{% load static %}

{% load math %}

{% include "partials/header.html" %}

<div class="dummy"></div>

<div class="container orders-page mt-4 mb-4">
    <div class="row rounded d-flex justify-content-between heading shadow-sm mb-4">
        <div class="col">
            <span>My orders</span>
        </div>
        <div class="col order-total d-flex justify-content-end">
            <span>
                Total:
                <span class="order-count">
                    {{ orders|length }}
                </span>
            </span>
        </div>
    </div>
    {% if orders|length == 0 %}
    <div class="row no-order text-center shadow-sm rounded">
        <span>There is no order to display.</span>
    </div>
    {% else %}
    <div class="row display-orders">
        {% for order in orders %}
        <div class="order-container mb-4 rounded shadow-sm p-3">
            <div class="row order-id">
                <a href="/order/{{ order.id }}" class="text-decoration-none text-reset">
                    <span>
                        Order ID: {{ order.id }}
                        <i class="bi bi-chevron-right"></i>
                    </span>
                </a>
            </div>
            <hr>

            <div class="vendorname mb-3 border-bottom">
                <a href="/products/vendor/{{ order.products_by_vendor.0.vendor.username }}"
                    class="text-decoration-none text-reset">
                    <span class="text">
                        <i class="bi bi-shop-window"></i>
                        {{ order.products_by_vendor.0.vendor.name }}
                        <i class="bi bi-chevron-right"></i>
                    </span>
                </a>
            </div>

            <div class="row pd-info">
                <div class="col-2 pd-img d-flex justify-content-center align-items-center mb-3">
                    <a href="/product/{{ order.products_by_vendor.0.cart_products.0.product.id }}"
                        class="text-decoration-none text-reset">
                        <img class="img-fluid"
                            src="{% static 'images/products/' %}{{ order.products_by_vendor.0.cart_products.0.product.images.0 }}"
                            alt="pd-img">
                    </a>
                </div>
                <div class="col-8 col-md-6 pd-info d-flex flex-column justify-content-center">
                    <a href="/product/{{ order.products_by_vendor.0.cart_products.0.product.id }}"
                        class="text-decoration-none text-reset">
                        <span class="pd-name">
                            {{ order.products_by_vendor.0.cart_products.0.product.name }}
                        </span>
                    </a>
                    <span>
                        x{{ order.products_by_vendor.0.cart_products.0.quantity }}
                    </span>
                </div>
                <div class="col-2 col-md-4 order-price d-flex justify-content-end align-items-center">
                    $
                    <span class="pd-total-price-{{ cart_product.product.id }}">
                        {{order.products_by_vendor.0.cart_products.0.product.price|products_price:order.products_by_vendor.0.cart_products.0.quantity}}
                    </span>
                </div>
            </div>

            <hr>

            {% if order.products_by_vendor|calc_remain > 0 %}
            <div class="row">
                <a href="/order/{{ order.id }}" class="text-decoration-none text-reset">
                    <div class="col d-flex justify-content-center">
                        <i>and {{ order.products_by_vendor|calc_remain }} more</i>
                        &nbsp;
                        <i class="bi bi-chevron-right"></i>
                    </div>
                </a>
            </div>
            <hr>
            {% endif %}

            <div class="row order-status">
                <div class="col d-flex align-items-center gap-3">
                    <div class="order-status">
                        Status:
                        {% if order.status == "A" %}
                        <span class="status-active">
                            Active
                        </span>
                        {% elif order.status == "D" %}
                        <span class="status-delivered">
                            Delivered
                        </span>
                        {% elif order.status == "C" %}
                        <span class="status-canceled">
                            Canceled
                        </span>
                        {% endif %}
                    </div>

                    <div class="set-order-status display-shipper">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Set status
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <form action="/order/{{ order.id }}/status/Delivered" method="POST">
                                        <button type="submit" class="dropdown-item">Delivered</button>
                                    </form>
                                </li>
                                <li>
                                    <form action="/order/{{ order.id }}/status/Canceled" method="POST">
                                        <button type="submit" class="dropdown-item">Canceled</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col order-total-price d-flex justify-content-end">
                    Total: $ <span class="total-price">
                        {{ order.total_price }}
                    </span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% include "partials/footer.html" %}