{% load static %}

{% load math %}

{% include "partials/header.html" %}

<div class="dummy"></div>

<div class="container orders-page mt-4 mb-4">
    <div class="alert alert-info heading mb-4 d-flex flex-row justify-content-between" role="alert" data-aos="fade-up">
        <div class="d-flex justify-content-center">
            {% if type == 'C' %}
            <h5 class="m-0">My Orders</h5>
            {% elif type == 'S' %}
            <h5 class="m-0">Orders</h5>
            {% endif %}
        </div>
        <div class="order-total d-flex justify-content-center">
            <h5 class="m-0">
                Total:
                <span class="order-count">
                    {{ orders|length }}
                </span>
                <i class="bi bi-receipt"></i>
            </h5>
        </div>
    </div>

    {% if orders|length == 0 %}
    <div class="row no-order text-center shadow-sm rounded" data-aos="fade-up">
        <h2>There is no order to display.</h2>
    </div>

    {% else %}
    <div class="row display-orders">
        {% for order in orders %}
        <div class="order-container mb-4 rounded shadow-sm" data-aos="fade-up">
            <div class="order-id border-bottom p-3">
                <a href="/order/{{ order.id }}" class="text-decoration-none text-reset d-flex justify-content-between">
                    <span>
                        <i class="bi bi-receipt"></i>
                        Order ID: {{ order.id }}
                        <i class="bi bi-chevron-right"></i>
                    </span>

                    <span class="order-date">
                        Placed: {{ order.date }}
                    </span>
                </a>
            </div>

            <div class="vendorname border-bottom p-3">
                <a href="/products/vendor/{{ order.products_by_vendor.0.vendor.username }}"
                    class="text-decoration-none text-reset">
                    <span class="text">
                        <i class="bi bi-shop-window"></i>
                        {{ order.products_by_vendor.0.vendor.name }}
                        <i class="bi bi-chevron-right"></i>
                    </span>
                </a>
            </div>

            <div class="p-3 border-bottom">
                <div class="row pd-info">

                    <div class="col-4 col-md-3 col-xl-2 pd-img d-flex justify-content-center align-items-center">
                        <a href="/product/{{ order.products_by_vendor.0.cart_products.0.product.id }}"
                            class="text-decoration-none text-reset">
                            <img class="img-fluid"
                                src="{% static 'images/products/' %}{{ order.products_by_vendor.0.cart_products.0.product.images.0 }}"
                                alt="pd-img">
                        </a>
                    </div>

                    <div class="col pd-info d-flex flex-column justify-content-center">
                        <a href="/product/{{ order.products_by_vendor.0.cart_products.0.product.id }}"
                            class="text-decoration-none text-reset">
                            <span class="pd-name">
                                {{ order.products_by_vendor.0.cart_products.0.product.name }}
                            </span>
                        </a>
                        <span>
                            x{{ order.products_by_vendor.0.cart_products.0.quantity }}
                        </span>
                    </div>

                    <div class="col-2 order-price d-flex justify-content-end align-items-center">
                        $
                        <span class="pd-total-price-{{ cart_product.product.id }}">
                            {{order.products_by_vendor.0.cart_products.0.product.price|products_price:order.products_by_vendor.0.cart_products.0.quantity}}
                        </span>
                    </div>

                </div>
            </div>

            {% if order.products_by_vendor|calc_remain > 0 %}
            <div class="border-bottom p-3">
                <a href="/order/{{ order.id }}" class="text-decoration-none text-reset">
                    <div class="col d-flex justify-content-center">
                        <i>and {{ order.products_by_vendor|calc_remain }} more</i>
                        &nbsp;
                        <i class="bi bi-chevron-right"></i>
                    </div>
                </a>
            </div>
            {% endif %}

            <div class="p-3">
                <div class="row order-status">
                    <div class="col d-flex align-items-center gap-3">
                        <div class="order-status">
                            <span class="status-label">Status:</span>
                            {% if order.status == "A" %}
                            <span class="btn btn-success status-active">
                                <i class="bi bi-check"></i>
                                Active
                            </span>
                            {% elif order.status == "G" %}
                            <span class="btn btn-success status-delivered">
                                <i class="bi bi-truck"></i>
                                Delivering
                            </span>
                            {% elif order.status == "D" %}
                            <span class="btn bg-info status-delivering">
                                <i class="bi bi-check2-square"></i>
                                Delivered
                            </span>
                            {% elif order.status == "C" %}
                            <span class="btn btn-danger status-canceled">
                                <i class="bi bi-x"></i>
                                Canceled
                            </span>
                            {% endif %}
                        </div>

                        {% if type == 'S' and order.status != "D" and order.status != "C" %}
                        <div class="set-order-status display-shipper">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Set status
                                </button>
                                <ul class="dropdown-menu">
                                    {% if order.status == "A" %}
                                    <li>
                                        <form action="/order/{{ order.id }}/status/G" method="POST">
                                            <button type="submit" class="dropdown-item">
                                                <i class="bi bi-truck"></i>
                                                Delivering
                                            </button>
                                        </form>
                                    </li>
                                    {% elif order.status == "G" %}
                                    <li>
                                        <form action="/order/{{ order.id }}/status/D" method="POST">
                                            <button type="submit" class="dropdown-item">
                                                <i class="bi bi-check2-square"></i>
                                                Delivered
                                            </button>
                                        </form>
                                    </li>
                                    {% endif %}
                                    <li>
                                        <form action="/order/{{ order.id }}/status/C" method="POST">
                                            <button type="submit" class="dropdown-item">
                                                <i class="bi bi-x"></i>
                                                Canceled
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                    </div>

                    <div class="col order-total-price d-flex justify-content-end text-nowrap">
                        Total: $ <span class="total-price">
                            {{ order.total_price }}
                        </span>
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% include "partials/footer.html" %}