{% load js %}

{% load static %}

{% include "partials/header.html" %}

<div class="dummy"></div>

<div class="container wishlist-page">
    <div class="text-center">
        <div class="wishlist-heading mt-2 mb-3 rounded shadow-sm p-3">
            <div class="row">
                <div class="col-10">
                    <h4 class="d-inline-block">{{ owner_name }}'s Wishlist</h4>
                </div>
                <div class="col-1">
                    <button class="btn btn-secondary d-inline-block mb-2 pd-remove-btn" onclick="copyURL()">
                        <i class="bi bi-copy"></i>
                    </button>
                </div>
            </div>
            {% if is_owner %}
            {% if share %}
            <form action="/wishlist/share/false" method="POST" class="pt-2">
                <input type="hidden" class="sharing" value="true">
                <button class="btn btn-danger anm-btn pd-remove-btn" type="submit">
                    Turn off sharing</button>
            </form>
            {% else %}
            <form action="/wishlist/share/true" method="POST" class="pt-2">
                <input type="hidden" class="sharing" value="false">
                <button class="btn btn-primary anm-btn add-to-cart-btn" type="submit">
                    Turn on sharing</button>
            </form>
            {% endif %}
            {% endif %}
        </div>
    </div>

    {% if products_by_vendor %}
    {% for vendor in products_by_vendor %}
    <div class="row rounded cart-container mb-4 shadow-sm">
        <div class="vendorname border-bottom p-3">
            <a href="/products/vendor/{{ vendor.vendor.username }}" class="text-decoration-none text-reset">
                <span class="text">
                    <i class="bi bi-shop-window"></i>
                    {{ vendor.vendor.name }}
                    <i class="bi bi-chevron-right"></i>
                </span>
            </a>
        </div>

        {% for cart_product in vendor.cart_products %}
        <div class="row vendor-products p-3">
            <div class="col pd-img d-flex justify-content-center align-items-center mb-3">
                <a href="/product/{{ cart_product.id }}" class="text-decoration-none text-reset">
                    <div class="image">
                        <img class="img-fluid" src="{% static 'images/products/' %}{{ cart_product.images.0 }}"
                            alt="product-img">
                    </div>
                </a>
            </div>

            <div class="col-7 pd-info d-flex align-items-center mb-3">
                <div class="col pd-name text-start">
                    <a href="/product/{{ cart_product.id }}" class="text-decoration-none text-reset">
                        {{ cart_product.name }}
                    </a>
                </div>

                <div class="col-3 pd-price text-center">
                    $
                    <span class="pd-price-{{ cart_product.id }}">
                        {{ cart_product.price }}
                    </span>
                </div>
            </div>

            <div class="col-6 col-lg-2 pd-add d-flex justify-content-center align-items-center mb-3">
                <button class="btn anm-btn add-to-cart-btn btn-primary"
                    onclick="addToCart('{{ cart_product.id }}', false)">Add to Cart</button>
            </div>

            {% if is_owner %}
            <div class="col-6 col-lg-1 pd-remove d-flex justify-content-center align-items-center mb-3">
                <form method="POST" action="/wishlist/remove/{{ cart_product.id }}">
                    <button class="btn anm-btn pd-remove-btn btn-danger" type="submit">Remove</button>
                </form>
            </div>
            {% endif %}

            {% if not forloop.last %}
            <div class="col-12 border-bottom"></div>
            {% endif %}

        </div>
        {% endfor %}
    </div>
    {% endfor %}

    {% else %}
    <div class="row rounded cart-container empty-cart text-center shadow-sm">
        <h2>No products in this wishlist yet.</h2>
    </div>
    {% endif %}
</div>

{% include "partials/footer.html" %}