{% load static %}

{% load math %}

{% include "partials/header.html" %}

<div class="dummy"></div>

<div class="container listing-page">

    <div class="row">
        <div class="Navigation-Bar col-1">
            <h3>Categories</h3>
            <nav class="mt-4">
                <ul class="nav-list">
                    {% for category in categories %}
                    <li class="nav-list-styling">
                        {% if active_filter == category %}
                        <input class="form-check-input category-checkbox" type="checkbox" id="{{ category }}"
                            name="filterCategory" value="{{ category }}" onclick="filterCategory(this)" checked>
                        {% else %}
                        <input class="form-check-input category-checkbox" type="checkbox" id="{{ category }}"
                            name="filterCategory" value="{{ category }}" onclick="filterCategory(this)">
                        {% endif %}
                        <label class="form-check-label" for="{{ category }}">{{ category }}</label>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>

        <div class="Product-Listing-Cards col">

            {% for product in products %}
            <div class="card pd-card">
                <input type="hidden" class="pd-category" value="{{ product.category }}">
                <a href="/product/{{ product.id }}">
                    <div class="card-image">
                        <img src="{% static 'images/products/' %}{{ product.images.0 }}" alt="Product Image">
                    </div>
                    <div class="card-content">
                        <div class="card-title">{{ product.name }}</div>
                        <div class="card-price">${{ product.price }}</div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="columns col-centered">

        <nav class="listing-nav">
            {% if not active_filter %}

            {% if active_page %}
            {% for i in page_range %}
            {% if active_page|to_int == i %}
            <button class="active" onclick="window.location.href='?page={{ i }}'">{{ i }}</button>
            {% else %}
            <button onclick="window.location.href='?page={{ i }}'">{{ i }}</button>
            {% endif %}
            {% endfor %}

            {% elif active_page is None %}
            {% for i in page_range %}
            {% if i == 1 %}
            <button class="active" onclick="window.location.href='?page={{ i }}'">{{ i }}</button>
            {% else %}
            <button onclick="window.location.href='?page={{ i }}'">{{ i }}</button>
            {% endif %}
            {% endfor %}

            {% endif %}

            {% endif %}
        </nav>
    </div>

</div>


{% include "partials/footer.html" %}