{% include "partials/header.html" %}

<!DOCTYPE html>
<html> 
    <body>
        <body class="basic_information-container">
            <div class="name">
                <h3>Basic information</h3>
            </div>
            <div class="basic-item">
                <div class="row">
                    <div class="col-md-3">Image of the product</div>
                    <div class="col-md-9">
                        <p>Scale of image: 1:1</p>
                        <form action="/upload-image" method="post" enctype="multipart/form-data">
                            <input type="file" id="imageUpload" name="imageUpload" accept="image/*">
                            <input type="submit" value="Tải lên">
                        </form>                  
                    </div>
                </div>
            </div>
            <div class="basic-item">
                <div class="row">
                    <div class="col-md-3">Name of the product</div>
                    <div class="col-md-9">
                        <input type="text" id="fullName" name="fullName">
                    </div>
                </div>
            </div>
            <div class="basic-item">
                <div class="row">
                    <div class="col-md-3">Thể loại sản phẩm</div>
                    <div class="col-md-9">
                        <select id="category" name="category">
                            <option value="technology">Electronic accessory</option>
                            <option value="fashion">Kitchen</option>
                            <option value="food">Fashion</option>
                            <option value="sports">House</option>
                            <option value="sports">Baby</option>
                            <option value="sports">Books</option>
                            <option value="sports">Luggage</option>
                            <option value="sports">Beauty</option>
                            <option value="sports">Shoes</option>
                            <option value="sports">Pet supplies</option>
                            <option value="sports">Sport</option>
                            <option value="sports">Watches</option>
                            <option value="sports">Healthcare</option>
                            <option value="sports">Automotive</option>
                            <option value="sports">Arts and crafts</option>
                            <!-- Các option khác có thể được thêm vào đây -->
                        </select>
                    </div>
                </div>
            </div>
            <div class="basic-item">
                <div class="row">
                    <div class="col-md-3">
                        <label for="message">Miêu tả sản phẩm</label>
                    </div>
                    <div class="col-md-9">
                        <textarea id="message" name="message" rows="10" cols="90"></textarea>
                    </div>
                </div>
            </div>
        
        <div class="information-button-container">
            <div class="button">
                <button type="button" value="Click here">Cancel</button>
            </div>
            <div class="button">
                <button type="button" value="Click here">Save and hide</button>
            </div>
            <div class="button">
                <button type="button" value="Click here">Save and show</button>
            </div>
        </div>
    </body>
    <style>
        .basic_information-container{
            border: 3px solid black;

            width: 70%;
            height: 700px;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: auto;
            margin-right: auto;
        }
        .basic-item{
            margin-bottom: 40px;
        }
        .information-button-container-flex{
            float: right;
            display: flex;
        }
        .information-button-container-flex button{
            margin-right: 10px;
        }
    </style>
</html>

{% include "partials/footer.html" %}